{% load static %}

<div id="home-slider" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
    {% for banner in banners %}
        <div class="item-{{ forloop.counter }} item{% if forloop.first %} active{% endif %}">

            {% if banner.url %}<a href="{{ banner.url }}" target="_blank"></a>{% endif %}

            <div class="content">
                <img src="{{ banner.image.url }}" class="img-responsive">
            </div>

        </div>
    {% empty %}
        <div class="item active text-center">
            <p class="bigger-160">Nenhum banner cadastrado.</p>
        </div>
    {% endfor %}
    </div>

    <a class="left carousel-control" href="#home-slider" role="button" data-slide="prev">
        <span class="icon fa fa-arrow-circle-left" aria-hidden="true"></span>
    </a>

    <a class="right carousel-control" href="#home-slider" role="button" data-slide="next">
        <span class="icon fa fa-arrow-circle-right" aria-hidden="true"></span>
    </a>

</div>