{% extends 'page.html' %}

{% load i18n staticfiles location %}

{% block body-class %}{{ block.super }} contact{% endblock %}

{% block extrascript %}{{ block.super }}
    {% import_map_scripts %}
{% endblock %}

{% block page-header %}
    <h1> Contato </h1>
{% endblock %}

{% block page-content %}
    {% if company.default_address %}

    {% create_map_with_many_markers company.address_list %}

    {% endif %}

    <div class="space-20"></div>

    <div class="row">

        <div class="col-xs-12 col-md-7">

            <form class="control-form" id="contact-form" action="{{ form.get_absolute_url }}" method="post">
                {% csrf_token %}
                {% for field in form.hidden_fields %}{{ field }}{% endfor %}

                {% for field in form.visible_fields %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}{% if field.field.required %} required{% endif %}">

                        <label class="sr-only control-label" for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>

                        <div class="controls">
                            {{ field }}
                            {% for error in field.errors %}<div class="help_block">{{ error }}</div>{% endfor %}
                        </div>

                    </div>
                {% endfor %}

                <div class="form-buttons">

                    <button type="submit" class="btn btn-success btn-lg">Enviar</button>

                </div>

            </form>

        </div>

        <div class="col-xs-12 col-md-5">

            {% if company.default_address %}
                <p class="bigger-120">
                    <i class="fa fa-map-marker"></i>
                    {{ company.default_address.to_html }}
                </p>
            {% endif %}

            {% if company.emails %}
                <p class="bigger-120">
                    <i class="fa fa-envelope"></i>
                    {% for email in company.emails %}
                        <a href="mailto:{{ email }}">{{ email }}</a> {% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                </p>
            {% endif %}

            {% if company.default_phone %}
                <p class="bigger-120">
                    <i class="fa fa-phone"></i> {{ company.default_phone }}
                </p>
            {% endif %}

            {% include 'social-links.html' with links=company.link_list %}

        </div>

    </div>
{% endblock %}