{% extends 'page.html' %}

{% load static gallery %}

{% block meta %}{{ block.super }}
    <meta property="og:image" content="{% build_absolute_uri photoset.cover.medium_url %}" />
    <meta property="twitter:image:src" content="{% build_absolute_uri photoset.cover.medium_url %}" />
{% endblock %}

{% block extrastyles %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap-image-gallery.min.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'css/blueimp-gallery.min.css' %}">
{% endblock %}

{% block extrascript %}{{ block.super }}
    <script src="{% static 'js/blueimp-gallery.min.js' %}" defer></script>
    <script src="{% static 'js/bootstrap-image-gallery.min.js' %}" defer></script>
{% endblock %}

{% block page-content %}
<nav class="breadcrumbs">
    <ol class=" breadcrumb no-padding">
        <li><a href="{% url 'gallery:index' %}">Galeria</a></li>
        <li class="active">{{ photoset.title }} ({{ photoset.count_photos }} fotos)</li>
    </ol>
</nav>

<div class="gallery-album">
    <h3>{{ photoset.title }}</h3>

    {% if photoset.content %}
        <div class="html-content" style="margin: 0 0 15px">
            {{ photoset.content|safe }}
        </div>
    {% endif %}

    <div class="row">
        {% for photo in photos %}
            <div class="col-xs-4 col-sm-2 col-lg-2">
                <a class="photo" href="{{ photo.medium_url }}" data-gallery title="{{ photo.title }}">
                    <img class="img-responsive" title="{{ photo.title }}" src="{{ photo.thumbnail_url }}" />
                </a>
            </div>
        {% endfor %}
    </div>

    {% include 'gallery/blueimp-gallery.html' %}

    {% if is_paginated %}
    {% pagination page_obj backend='basic' as pagination %}
    <nav class="text-center">
        <ul class="pagination pagination-primary">
            <li{% if pagination.page_obj.number == 1 %} class="disabled"{% endif %}><a{% if not pagination.page_obj.number == 1 %} href="{% url "gallery:photoset_list_paged" page=1 %}"{% endif %}><i class="fa fa-angle-double-left"></i></a></li>
            <li{% if not pagination.page_obj.has_previous %} class="disabled"{% endif %}><a{% if pagination.page_obj.has_previous %} href="{% url "gallery:photoset_list_paged" page=pagination.page_obj.previous_page_number %}"{% endif %}><i class="fa fa-angle-left"></i></a></li>
            <li><span>{% with number=pagination.page_obj.number num_pages=pagination.page_obj.paginator.num_pages %}Página {{ number }} de {{ num_pages }}{% endwith %}</span></li>
            <li{% if not pagination.page_obj.has_next %} class="disabled"{% endif %}><a{% if pagination.page_obj.has_next %} href="{% url "gallery:photoset_list_paged" page=pagination.page_obj.next_page_number %}"{% endif %}><i class="fa fa-angle-right"></i></a></li>
            <li{% if pagination.page_obj.number == pagination.paginator.num_pages %} class="disabled"{% endif %}><a{% if pagination.page_obj.number == pagination.paginator.num_pages %} href="{% url "gallery:photoset_list_paged" page=pagination.paginator.num_pages %}"{% endif %}><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}