{% extends 'page.html' %}

{% load gallery %}

{% block page-content %}
<div class="gallery-list">
    <div class="row">
        {% for photoset in photosets %}
            <div class="col-xs-12 col-sm-4 col-lg-3">
                <div class="photo">
                    <a href="{{ photoset.get_absolute_url }}">
                        <div class="filter"></div>
                        <img class="img-background" src="{{ photoset.cover.thumbnail_url }}" />
                        <div class="photo-content">
                            <div class="info">
                                <div class="photo-number"><i class="fa fa-camera"></i> {{ photoset.count_photos }} fotos </div>
                                <div class="photo-title">{{ photoset.title }}</div>
                                <div class="button"> <i class="fa fa-plus-square" aria-hidden="true"></i> Veja todas as fotos </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% empty %}
            <p class="text-center bigger-120">Nenhum álbum de fotos encontrado.</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
    {% pagination page_obj backend='basic' as pagination %}
    <nav class="text-center">
        <ul class="pagination pagination-primary">
            <li{% if pagination.page_obj.number == 1 %} class="disabled"{% endif %}><a{% if not pagination.page_obj.number == 1 %} href="{% url "gallery:photoset_list_paged" page=1 %}"{% endif %}><i class="fa fa-angle-double-left"></i></a></li>
            <li{% if not pagination.page_obj.has_previous %} class="disabled"{% endif %}><a{% if pagination.page_obj.has_previous %} href="{% url "gallery:photoset_list_paged" page=pagination.page_obj.previous_page_number %}"{% endif %}><i class="fa fa-angle-left"></i></a></li>
            <li><span>{% with number=pagination.page_obj.number num_pages=pagination.page_obj.paginator.num_pages %}Página {{ number }} de {{ num_pages }}{% endwith %}</span></li>
            <li{% if not pagination.page_obj.has_next %} class="disabled"{% endif %}><a{% if pagination.page_obj.has_next %} href="{% url "gallery:photoset_list_paged" page=pagination.page_obj.next_page_number %}"{% endif %}><i class="fa fa-angle-right"></i></a></li>
            <li{% if pagination.page_obj.number == pagination.paginator.num_pages %} class="disabled"{% endif %}><a{% if pagination.page_obj.number == pagination.paginator.num_pages %} href="{% url "gallery:photoset_list_paged" page=pagination.paginator.num_pages %}"{% endif %}><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}