
<div class=" panel panel-events no-border overflow-hidden" style="background: none; box-shadow: none;">

    {% for event in events %}
    <div class="panel-body "{% if not forloop.last %} style="margin-bottom: 1px;"{% endif %}>

        <div class="row">
            <div class="col-xs-3 text-center">
                <span class="bigger-220 line-height-125 text-warning">{{ event.start|date:'d' }}</span>
                <span class="bigger-115 line-height-1 text-uppercase block">{{ event.start|date:'M' }}</span>
            </div>

            <div class="col-xs-9">
                <p class="h5" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 3px; font-weight: normal;">
                    <a class="text-white" href="{{ event.get_absolute_url }} " title="{{ event.title }}">
                        {{ event.title }}
                    </a>
                </p>

                <p class="no-margin smaller-70 text-uppercase"><i class="fa fa-calendar"></i> {{ event.start }}</p>

                {% if event.start_time %}
                    <p class="no-margin smaller-70"><i class="fa fa-clock-o"></i> {{ event.start_time|date:'H\hi' }}</p>
                {% endif %}
            </div>
        </div>

    </div>
    {% endfor %}

</div>