@mixin border-radius($radius) {
    $top-left:      0;
    $top-right:     0;
    $bottom-left:   0;
    $bottom-right:  0;

    @if (type_of($radius) == string or type_of($radius) == number) {
        $top-left:      $radius;
        $top-right:     $radius;
        $bottom-left:   $radius;
        $bottom-right:  $radius;
    } @else if (type_of($radius) == map) {
        @each $p in $radius {
            $direction: nth($p, 1);
            $value: map-get($radius, $direction);
            @if $direction == 'top' {
                $top-left: $value;
                $top-right: $value;
            } @else if $direction == 'right' {
                $top-right: $value;
                $bottom-right: $value;
            } @else if $direction == 'bottom' {
                $bottom-left: $value;
                $bottom-right: $value;
            } @else if $direction == 'left' {
                $top-left: $value;
                $bottom-left: $value;
            } @else if $direction == 'top-left' {
                $top-left: $value;
            } @else if $direction == 'top-right' {
                $top-right: $value;
            } @else if $direction == 'bottom-left' {
                $bottom-left: $value;
            } @else if $direction == 'bottom-right' {
                $bottom-right: $value;
            }
        }
    }

    -webkit-border-radius:  $top-left $top-right $bottom-right $bottom-left;
    -moz-border-radius:     $top-left $top-right $bottom-right $bottom-left;
    border-radius:          $top-left $top-right $bottom-right $bottom-left;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

@mixin border-radius-top($radius) {
    -webkit-border-top-left-radius:  $radius;
    -moz-border-top-left-radius:     $radius;
    border-top-left-radius:          $radius;

    -webkit-border-top-right-radius: $radius;
    -moz-border-top-right-radius:    $radius;
    border-top-right-radius:         $radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

@mixin border-radius-bottom($radius) {
    -webkit-border-bottom-left-radius:  $radius;
    -moz-border-bottom-left-radius:     $radius;
    border-bottom-left-radius:          $radius;

    -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-right-radius:    $radius;
    border-bottom-right-radius:         $radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

@mixin border-radius-left($radius) {
    -webkit-border-top-left-radius:     $radius;
    -moz-border-top-left-radius:        $radius;
    border-top-left-radius:             $radius;

    -webkit-border-bottom-left-radius:  $radius;
    -moz-border-bottom-left-radius:     $radius;
    border-bottom-left-radius:          $radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

@mixin border-radius-right($radius) {
    -webkit-border-top-right-radius:     $radius;
    -moz-border-top-right-radius:        $radius;
    border-top-right-radius:             $radius;

    -webkit-border-bottom-right-radius:  $radius;
    -moz-border-bottom-right-radius:     $radius;
    border-bottom-right-radius:          $radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

@mixin border-radius-top-left($radius) {
    -webkit-border-top-left-radius:     $radius;
    -moz-border-top-left-radius:        $radius;
    border-top-left-radius:             $radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

@mixin border-radius-top-right($radius) {
    -webkit-border-top-right-radius:       $radius;
    -moz-border-top-right-radius:          $radius;
    border-top-right-radius:               $radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

@mixin border-radius-bottom-left($radius) {
    -webkit-border-bottom-left-radius:     $radius;
    -moz-border-bottom-left-radius:        $radius;
    border-bottom-left-radius:             $radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

@mixin border-radius-bottom-right($radius) {
    -webkit-border-bottom-right-radius:     $radius;
    -moz-border-bottom-right-radius:        $radius;
    border-bottom-right-radius:             $radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

@mixin borders($borders) {
    @if (type_of($borders) == string or type_of($borders) == number) {
        border: $borders;
    } @else {
        @each $border in $borders {
            $direction: nth($border, 1);
            @if $direction == 'all' {
                $size: map-get(map-get($borders, $direction), size);
                $style: map-get(map-get($borders, $direction), style);
                $color: map-get(map-get($borders, $direction), color);
                border: $size $style $color;
            } @else if $direction == 'top' {
                $size: map-get(map-get($borders, $direction), size);
                $style: map-get(map-get($borders, $direction), style);
                $color: map-get(map-get($borders, $direction), color);
                border-top: $size $style $color;
            } @else if $direction == 'right' {
                $size: map-get(map-get($borders, $direction), size);
                $style: map-get(map-get($borders, $direction), style);
                $color: map-get(map-get($borders, $direction), color);
                border-right: $size $style $color;
            } @else if $direction == 'bottom' {
                $size: map-get(map-get($borders, $direction), size);
                $style: map-get(map-get($borders, $direction), style);
                $color: map-get(map-get($borders, $direction), color);
                border-bottom: $size $style $color;
            } @else if $direction == 'left' {
                $size: map-get(map-get($borders, $direction), size);
                $style: map-get(map-get($borders, $direction), style);
                $color: map-get(map-get($borders, $direction), color);
                border-left: $size $style $color;
            }
        }
    }
}