// make a padding css property by a map
// or a direct value.

@mixin padding($padding) {
    $top: 0;
    $bottom: 0;
    $left: 0;
    $right: 0;

    @if (type_of($padding) == string or type_of($padding) == number) {
        padding: $padding;
    } @else if (type_of($padding) == map) {
        @each $p in $padding {
            $direction: nth($p, 1);
            @if $direction == 'horizontal' {
                $left: map-get($padding, $direction);
                $right: map-get($padding, $direction);
            } @else if $direction == 'vertical' {
                $top: map-get($padding, $direction);
                $bottom: map-get($padding, $direction);
            } @else if $direction == 'top' {
                $top: map-get($padding, $direction);
            } @else if $direction == 'right' {
                $right: map-get($padding, $direction);
            } @else if $direction == 'bottom' {
                $bottom: map-get($padding, $direction);
            } @else if $direction == 'left' {
                $left: map-get($padding, $direction);
            }
        }
        padding: $top $right $bottom $left;
    }
}

// make a margin css property by a map
// or a direct value.

@mixin margin($margin) {
    $top: 0;
    $bottom: 0;
    $left: 0;
    $right: 0;

    @if (type_of($margin) == string or type_of($margin) == number) {
        margin: $margin;
    } @else if (type_of($margin) == map) {
        @each $p in $margin {
            $direction: nth($p, 1);
            @if $direction == 'horizontal' {
                $left: map-get($margin, $direction);
                $right: map-get($margin, $direction);
            } @else if $direction == 'vertical' {
                $top: map-get($margin, $direction);
                $bottom: map-get($margin, $direction);
            } @else if $direction == 'top' {
                $top: map-get($margin, $direction);
            } @else if $direction == 'right' {
                $right: map-get($margin, $direction);
            } @else if $direction == 'bottom' {
                $bottom: map-get($margin, $direction);
            } @else if $direction == 'left' {
                $left: map-get($margin, $direction);
            }
        }
        margin: $top $right $bottom $left;
    }
}
