@mixin screen-size($size) {
    @if type_of($size) == string and $size == xs {
        @media (max-width: $screen-xs-max) { @content }
    } @else if type_of($size) == string and $size == sm {
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) { @content }
    } @else if type_of($size) == string and $size == md {
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content }
    } @else if type_of($size) == string and $size == lg {
        @media (min-width: $screen-lg-min) { @content }
    } @else if type_of($size) == map {
        $max-width: false;
        $min-width: false;

        @each $s in $size {
            $direction: nth($s, 1);
            @if $direction == 'max-width' {
                $max-width: map-get($size, $direction);
            } @else if $direction == 'min-width' {
                $min-width: map-get($size, $direction);
            }
        }

        @if $min-width != false and $max-width != false {
            @media (min-width: $min-width) and (max-width: $max-width) { @content }
        } @else if $min-width == false and $max-width != false {
            @media (max-width: $max-width) { @content }
        } @else if $min-width != false and $max-width == false {
            @media (min-width: $min-width) { @content }
        }
    }
}

@mixin screen-xs { @include screen-size(xs) { @content } }
@mixin screen-sm { @include screen-size(sm) { @content } }
@mixin screen-md { @include screen-size(md) { @content } }
@mixin screen-lg { @include screen-size(lg) { @content } }
@mixin screen-mobile { @include screen-size((max-width: $grid-float-breakpoint-max)) { @content } }
@mixin screen-non-mobile { @include screen-size((min-width: $grid-float-breakpoint-max)) { @content }  }