.carousel {

    .item {

        > img {
            height: 100%;
            object-fit: cover;
        }

        .carousel-caption {
            position: absolute;
            right: 0; left: 0;
            bottom: ceil($grid-gutter-width / 2);
            z-index: 10;
            text-align: center;
            @include padding(ceil($grid-gutter-width / 2));
        }

    }

    .carousel-control {
        background-image: none;

        .icon {
            display: inline-block;
            position: absolute;
            top: 50%; margin-top: -25px;
            width: 50px; height: 50px;
            font-size: 50px;
            z-index: 5;
        }

        &.left .icon { left: 50%; margin-left: -25px; }
        &.right .icon { right: 50%; margin-right: -25px; }
    }

}