@import "../../bootstrap/forms";

@mixin form-inputs() {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] { @content }
}

@include form-inputs {
    @extend .form-control;

    @include hover-focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// The `.form-group-* form-control` variations are sadly duplicated to avoid the
// issue documented in https://github.com/twbs/bootstrap/issues/15074.

@mixin input-size-mixin($parent, $input-height, $padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    @include form-inputs {
        &#{$parent} {
            height: $input-height;
            padding: $padding-vertical $padding-horizontal;
            font-size: $font-size;
            line-height: $line-height;
            border-radius: $border-radius;
        }
    }

    textarea#{$parent},
    select[multiple]#{$parent} {
        height: auto;
    }
}

@include input-size-mixin('.input-sm', $input-height-small, $padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $input-border-radius-small);
@include input-size-mixin('.input-lg', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $input-border-radius-large);