.navbar-main {
    background-color: $navbar-bg;
    color: $navbar-color;
    @include borders($navbar-border);
    @include border-radius($navbar-border-radius);
}

.navbar-main .navbar-header > .navbar-brand  {
    height: 100%;
    @include padding($navbar-brand-padding);
    > img { width: 100%; }
}

// Large monitors view

@include screen-non-mobile {

    // navbar-nav
    // ----------

    .navbar-main .navbar-nav {
        @include padding($navbar-nav-padding);
        @include margin($navbar-nav-margin);
    }

    // navbar-item
    // -----------

    .navbar-main .navbar-nav > li {

        > a {
            background-color: $navbar-item-bg;
            color: $navbar-item-color;
            @include borders($navbar-item-border);

            @include margin($navbar-item-margin);
            @include padding($navbar-item-padding);
            @include border-radius($navbar-item-border-radius);
        }

        & > a:hover,
        & > a:focus,
        &.active > a,
        &.active > a:hover,
        &.active > a:focus {
            background-color: $navbar-item-active-bg;
            color: $navbar-item-active-color;
            @include borders($navbar-item-active-border);
        }
    }

    // Dropdown Menu
    // -------------

    .navbar-main .navbar-nav > .dropdown > .dropdown-menu {
        background-color: $navbar-dropdown-menu-bg;
        width: $navbar-dropdown-menu-width;
        @include padding($navbar-dropdown-menu-padding);
        @include margin($navbar-dropdown-menu-margin);
        @include border-radius($navbar-dropdown-menu-border-radius);

        @include borders((
            all: (
                size: 1px,
                style: solid,
                color: $navbar-dropdown-menu-border-color)
        ));

        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
    }

    // Dropdown Menu Item (2nd level menu)
    // -----------------------------------

    .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li {
        > a {
            background-color: $navbar-dropdown-menu-item-bg;
            color: $navbar-dropdown-menu-item-color;
            @include borders($navbar-dropdown-menu-item-border);

            @include margin($navbar-dropdown-menu-item-margin);
            @include padding($navbar-dropdown-menu-item-padding);
            @include border-radius($navbar-dropdown-menu-item-border-radius);
        }

        & > a:hover,
        & > a:focus,
        &.active > a,
        &.active > a:hover,
        &.active > a:focus {
            background-color: $navbar-dropdown-menu-item-active-bg;
            color: $navbar-dropdown-menu-item-active-color;
            @include borders($navbar-dropdown-menu-item-active-border);
        }
    }

    // Dropdown Menu Arrowed

    .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow {

        &:after, &:before {
            content: " ";
            bottom: 100%;
            left: 15%;
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: transparent;
            border-bottom-color: $navbar-dropdown-menu-bg;
            border-width: $navbar-dropdown-menu-arrow-size;
            margin-left: $navbar-dropdown-menu-arrow-size * -1;
        }

        &:before {
            border-color: transparent;
            border-bottom-color: $navbar-dropdown-menu-border-color;
            border-width: $navbar-dropdown-menu-arrow-size + 2;
            margin-left: ($navbar-dropdown-menu-arrow-size + 2) * -1;
        }

        &.dropdown-menu-right:before,
        &.dropdown-menu-right:after {
            left: 85%;
        }

    }

    // Dropdown Hover
    // --------------

    .dropdown.dropdown-hover {
        @include hover { > .dropdown-menu { display: block; } }
        &.open > .dropdown-menu { display: none; }
    }
}

// Mobile view

@include screen-mobile {

    // navbar-item
    // -----------

    .navbar-main .navbar-nav > li {

        > a {
            background-color: $navbar-mobile-item-bg;
            color: $navbar-mobile-item-color;
            @include borders($navbar-mobile-item-border);

            @include margin($navbar-mobile-item-margin);
            @include padding($navbar-mobile-item-padding);
            @include border-radius($navbar-mobile-item-border-radius);

            .caret {
                display: none;
            }
        }

        & > a:hover,
        & > a:focus,
        &.active > a,
        &.active > a:hover,
        &.active > a:focus {
            background-color: $navbar-mobile-item-active-bg;
            color: $navbar-mobile-item-active-color;
            @include borders($navbar-mobile-item-active-border);
        }
    }

    // Dropdown Menu
    // -------------

    .navbar-main .navbar-nav > .dropdown > .dropdown-menu {
        background-color: $navbar-mobile-dropdown-menu-bg;
        @include padding($navbar-mobile-dropdown-menu-padding);
        @include margin($navbar-mobile-dropdown-menu-margin);
        @include border-radius($navbar-mobile-dropdown-menu-border-radius);

        @include borders((
            all: (
                size: 1px,
                style: solid,
                color: $navbar-mobile-dropdown-menu-border-color)
        ));

        width: 100%;
        position: relative !important;
        float: none;

        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
    }

    // Dropdown Menu Item (2nd level menu)
    // -----------------------------------

    .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li {
        > a {
            background-color: $navbar-mobile-dropdown-menu-item-bg;
            color: $navbar-mobile-dropdown-menu-item-color;
            @include borders($navbar-mobile-dropdown-menu-item-border);

            @include margin($navbar-mobile-dropdown-menu-item-margin);
            @include padding($navbar-mobile-dropdown-menu-item-padding);
            @include border-radius($navbar-mobile-dropdown-menu-item-border-radius);
        }

        & > a:hover,
        & > a:focus,
        &.active > a,
        &.active > a:hover,
        &.active > a:focus {
            background-color: $navbar-mobile-dropdown-menu-item-active-bg;
            color: $navbar-mobile-dropdown-menu-item-active-color;
            @include borders($navbar-mobile-dropdown-menu-item-active-border);
        }
    }

    // Dropdown Menu Arrowed

    .navbar-main .navbar-nav > .dropdown > {
        [aria-expanded="false"] + .dropdown-menu-arrow,
        [aria-expanded="true"] + .dropdown-menu-arrow {
            display: block !important;
        }
    }

    .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow {
        display: block !important;

        &:after, &:before {
            content: " ";
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: transparent;
            border-bottom-color: $navbar-mobile-dropdown-menu-bg;
            border-width: $navbar-mobile-dropdown-menu-arrow-size;
            margin-left: $navbar-mobile-dropdown-menu-arrow-size * -1;
        }

        &:before {
            border-color: transparent;
            border-bottom-color: $navbar-mobile-dropdown-menu-border-color;
            border-width: $navbar-mobile-dropdown-menu-arrow-size + 2;
            margin-left: ($navbar-mobile-dropdown-menu-arrow-size + 2) * -1;
        }

    }

}

// Force to center menu and brand
// on some screen sizes
// ==============================

@mixin navbar-center() {
    .navbar-header {
        text-align: center;
        float: none;

        > .navbar-brand  {
            display: inline-block;
            white-space: nowrap;
            vertical-align: bottom;
            float: none;
        }
    }

    .navbar-collapse {
        text-align: center;

        .navbar-nav {
            display: inline-block;
            white-space: nowrap;
            vertical-align: bottom;
            float: none !important;
        }
    }
}

.navbar-center-xs { @include navbar-center(); }
@include screen-sm() { .navbar-center-sm { @include navbar-center(); } }
@include screen-md() { .navbar-center-md { @include navbar-center(); } }
@include screen-lg() { .navbar-center-lg { @include navbar-center(); } }
@include screen-mobile() { .navbar-center-mobile { @include navbar-center(); } }
@include screen-non-mobile() { .navbar-center-non-mobile { @include navbar-center(); } }