@mixin pagination($bg, $color, $border) {
    > li > a,
    > li > span {
        background-color: $bg;
        color: $color;
        border-color: $border;

        @include hover-focus {
            color: $color;
            background-color: darken($bg, 8%);
            border-color: darken($border, 8%);
        }
    }

    > .active > a,
    > .active > span {
        &, &:hover, &:focus {
            color: $color;
            background-color: darken($bg, 8%);
            border-color: darken($border, 8%);
        }
    }

    > .disabled > a,
    > .disabled > span {
        &, &:hover, &:focus {
            color: darken($bg, 12%);
            background-color: $bg;
            border-color: $border;
        }
    }
}

.pagination-primary { @include pagination($brand-primary, #fff, $brand-primary); }
.pagination-success { @include pagination($brand-success, #fff, $brand-success); }
.pagination-info {    @include pagination($brand-info, #fff, $brand-info); }
.pagination-warning { @include pagination($brand-warning, #fff, $brand-warning); }
.pagination-danger {  @include pagination($brand-danger, #fff, $brand-danger); }