// Page Header

.page-header {
    @include margin($page-header-margin);
    @include padding($page-header-padding);
    @include borders($page-header-border);
    @include clearfix();

    .page-title {
        font-size: $page-header-font-size;
        font-family: $page-header-font-family;
        color: $page-header-color;
        float: left;
        margin: 0;
        padding: 0;
    }
}

// Main content

.page-wrap {
    min-height: $content-main-height;
    margin: $content-main-space 0;

    .page-row {
        margin: 0 ceil($grid-gutter-width / 2) * -1;
        @include clearfix;

        .page-sidebar, .page-content {
            float: left;
            padding: 0 ceil($grid-gutter-width / 2);
            position: relative;
            min-height: 1px;
        }

        .page-sidebar {
            width: $page-sidebar-width-xs;
            @include screen-sm { width: $page-sidebar-width-sm; }
            @include screen-md { width: $page-sidebar-width-md; }
            @include screen-lg { width: $page-sidebar-width-lg; }
        }

        .page-content {
            width: $page-sidebar-content-width-xs;
            @include screen-sm { width: $page-sidebar-content-width-sm; }
            @include screen-md { width: $page-sidebar-content-width-md; }
            @include screen-lg { width: $page-sidebar-content-width-lg; }
        }

    }

}