.sidebar {
    background-color: $sidebar-bg;
    color: $sidebar-color;

    @include borders($sidebar-border);
    @include border-radius($sidebar-border-radius);
    @include margin($sidebar-margin);
    @include padding($sidebar-padding);

    .sidebar-nav {
        @include borders($sidebar-nav-border);
        @include border-radius($sidebar-nav-border-radius);
        @include margin($sidebar-nav-margin);
        @include padding($sidebar-nav-padding);

        > li > a {
            background-color: $sidebar-nav-item-bg;
            color: $sidebar-nav-item-color;

            @include borders($sidebar-nav-item-border);
            @include border-radius($sidebar-nav-item-border-radius);
            @include margin($sidebar-nav-item-margin);
            @include padding($sidebar-nav-item-padding);

            @include hover-focus {
                background-color: $sidebar-nav-item-hover-bg;
                color: $sidebar-nav-item-hover-color;
                @include borders($sidebar-nav-item-hover-border);
            }
        }

        > .active > a {
            background-color: $sidebar-nav-item-hover-bg;
            color: $sidebar-nav-item-hover-color;
            @include borders($sidebar-nav-item-hover-border);

            @include hover-focus {
                background-color: $sidebar-nav-item-hover-bg;
                color: $sidebar-nav-item-hover-color;
                @include borders($sidebar-nav-item-hover-border);
            }
        }
    }

}

.sidebar-affix {
    &.affix { top: ceil($grid-gutter-width / 2); }
    &.affix-bottom { position: absolute; }
}
