// Ignore Padding
// ==============

@mixin no-padding($suffix) {
    @include screen-size($suffix) {
        .no-padding-#{$suffix}              { padding: 0 !important; }
        .no-padding-top-#{$suffix}          { padding-top: 0 !important; }
        .no-padding-left-#{$suffix}         { padding-left: 0 !important; }
        .no-padding-bottom-#{$suffix}       { padding-bottom: 0 !important; }
        .no-padding-right-#{$suffix}        { padding-right: 0 !important; }
        .no-padding-vertical-#{$suffix}     { padding-top: 0 !important; padding-bottom: 0 !important; }
        .no-padding-horizontal-#{$suffix}   { padding-left: 0 !important; padding-right: 0 !important; }
    }
}

.no-padding              { padding: 0 !important; }
.no-padding-top          { padding-top: 0 !important; }
.no-padding-left         { padding-left: 0 !important; }
.no-padding-bottom       { padding-bottom: 0 !important; }
.no-padding-right        { padding-right: 0 !important; }
.no-padding-vertical     { padding-top: 0 !important; padding-bottom: 0 !important; }
.no-padding-horizontal   { padding-left: 0 !important; padding-right: 0 !important; }

@include no-padding(xs);
@include no-padding(sm);
@include no-padding(md);
@include no-padding(lg);

// Padding Variants
// ================

// padding

@mixin padding-mixin ($padding: 10, $until: 100, $increment: 5) {
    .padding-#{$padding},
    .p#{$padding} { padding: unquote($padding + 'px'); }
    @if ($padding < $until) {
        @include padding-mixin($padding + $increment, $until, $increment);
    }
}

@include padding-mixin();

// vertical padding

@mixin padding-vertical-mixin ($padding: 10, $until: 100, $increment: 5) {
    .padding-vertical-#{$padding},
    .pv#{$padding} { padding: unquote($padding + 'px') 0; }
    @if ($padding < $until) {
        @include padding-vertical-mixin($padding + $increment, $until, $increment);
    }
}

@include padding-vertical-mixin();

// horizontal padding

@mixin padding-horizontal-mixin ($padding: 10, $until: 100, $increment: 5) {
    .padding-horizontal-#{$padding},
    .ph#{$padding} { padding: 0 unquote($padding + 'px'); }
    @if ($padding < $until) {
        @include padding-vertical-mixin($padding + $increment, $until, $increment);
    }
}

@include padding-horizontal-mixin();

// Ignore Margin
// =============

@mixin no-margin($suffix) {
    @include screen-size($suffix) {
        .no-margin-#{$suffix}              { margin: 0 !important; }
        .no-margin-top-#{$suffix}          { margin-top: 0 !important; }
        .no-margin-left-#{$suffix}         { margin-left: 0 !important; }
        .no-margin-bottom-#{$suffix}       { margin-bottom: 0 !important; }
        .no-margin-right-#{$suffix}        { margin-right: 0 !important; }
        .no-margin-vertical-#{$suffix}     { margin-top: 0 !important; margin-bottom: 0 !important; }
        .no-margin-horizontal-#{$suffix}   { margin-left: 0 !important; margin-right: 0 !important; }
    }
}

.no-margin              { margin: 0 !important; }
.no-margin-top          { margin-top: 0 !important; }
.no-margin-left         { margin-left: 0 !important; }
.no-margin-bottom       { margin-bottom: 0 !important; }
.no-margin-right        { margin-right: 0 !important; }
.no-margin-vertical     { margin-top: 0 !important; margin-bottom: 0 !important; }
.no-margin-horizontal   { margin-left: 0 !important; margin-right: 0 !important; }

@include no-margin(xs);
@include no-margin(sm);
@include no-margin(md);
@include no-margin(lg);

// Padding Variants
// ================

// margin

@mixin margin-mixin ($margin: 10, $until: 100, $increment: 5) {
    .margin-#{$margin},
    .m#{$margin} { margin: unquote($margin + 'px'); }
    @if ($margin < $until) {
        @include margin-mixin($margin + $increment, $until, $increment);
    }
}

@include margin-mixin();

// vertical

@mixin margin-vertical-mixin ($margin: 10, $until: 100, $increment: 5) {
    .margin-vertical-#{$margin},
    .mv#{$margin} { margin: unquote($margin + 'px') 0; }
    @if ($margin < $until) {
        @include margin-vertical-mixin($margin + $increment, $until, $increment);
    }
}

@include margin-vertical-mixin();

// horizontal

@mixin margin-horizontal-mixin ($margin: 10, $until: 100, $increment: 5) {
    .margin-horizontal-#{$margin},
    .mh#{$margin} { margin: 0 unquote($margin + 'px'); }
    @if ($margin < $until) {
        @include margin-horizontal-mixin($margin + $increment, $until, $increment);
    }
}

@include margin-horizontal-mixin();

// Space
// =====

.space-xs { margin: ceil($grid-gutter-width / 2) - 5px;}
.space-sm, .space { margin: ceil($grid-gutter-width / 2); }
.space-lg { margin: $grid-gutter-width; }

@mixin space ($space: 1, $until: 15, $increment: 1) {
    .space-#{$space} { margin: unquote($space + 'px') 0; }
    @if ($space < $until) {
        @include space($space + $increment, $until, $increment);
    }
}

@include space();

// Ignore Borders
// ==============

.no-border { border-width: 0 !important; }
.no-border-bottom { border-bottom-width: 0 !important; }
.no-border-top { border-top-width: 0 !important; }
.no-border-left { border-left-width: 0 !important; }
.no-border-right { border-right-width: 0 !important; }

// Border Radius

.no-radius,
.no-border-radius {
    -webkit-border-radius:  0;
    -moz-border-radius:     0;
    border-radius:          0;
}

.rounded {
    -webkit-border-radius:  $border-radius-base;
    -moz-border-radius:     $border-radius-base;
    border-radius:          $border-radius-base;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.rounded-lg {
    -webkit-border-radius:  $border-radius-large;
    -moz-border-radius:     $border-radius-large;
    border-radius:          $border-radius-large;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.rounded-sm {
    -webkit-border-radius:  $border-radius-small;
    -moz-border-radius:     $border-radius-small;
    border-radius:          $border-radius-small;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

// Ignore Float
// ============

.no-float { float: none !important; }

// Row Helpers
// -----------

.row-table {
    display: table;
    height: 100%;
    table-layout: fixed;
    width: 100%;
    margin: 0;

    [class*="col-"],
    [class^="col-"] {
        display: table-cell;
        table-layout: fixed;
        vertical-align: middle;
        float: none;
    }
}

.row-flush {
    [class*="col-"],
    [class^="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

// Hidden and Show Elements
// ------------------------

.visible-mobile {
    display: none !important;
}

@include screen-mobile {
    .hidden-mobile { display: none !important; }
    .visible-mobile { display: block !important; }
}

// Display
// -------

.block { display: block !important; }
.hidden { display: none !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }


// Box Variant Background
// ----------------------
@mixin background-mixin($parent, $bg, $color) {
    #{$parent} {
        background-color: $bg;
        color: $color;
    }
    a#{$parent}:hover,
    a#{$parent}:focus {
        background-color: darken($bg, 10%);
        color: $color;
        text-decoration: none;
    }
}


@include background-mixin('.bg-primary', $brand-primary, #FFF);
@include background-mixin('.bg-success', $brand-success, #FFF);
@include background-mixin('.bg-info', $brand-info, #FFF);
@include background-mixin('.bg-warning', $brand-warning, #FFF);
@include background-mixin('.bg-danger', $brand-danger, #FFF);
@include background-mixin('.bg-highlight', $highlight-color, #FFF);


// Img

.img-cover {
    object-fit: cover;
    height: 100%;
}