// Text Weight
// ===========

.lighter { font-weight: lighter; }
.bolder { font-weight: bolder; }

// Text Align
// ==========

@mixin text-align($pos) {
    .align-#{$pos}, .text-#{$pos} { text-align: $pos !important; }
}

@include text-align(center);
@include text-align(left);
@include text-align(right);
@include text-align(justify);

// Vertical Align
// --------------

.vertical-align-top { vertical-align: top !important; }
.vertical-align-bottom { vertical-align: bottom !important; }
.vertical-align-middle { vertical-align: middle !important; }

// Line Height
// ===========

@mixin line-height($size) { .line-height-#{$size} { line-height: $size / 100 !important; } }

.line-height-normal { line-height: normal !important; }
@include line-height(0);
@include line-height(25);
@include line-height(50);
@include line-height(75);
@include line-height(100);
@include line-height(125);
@include line-height(150);

// Text Sizes
// ==========

@mixin text-size ($size, $until, $increment) {
    .text-#{$size} { font-size: $size * 1% !important; }
    @if ($size < $until) {
        @include text-size($size + $increment, $until, $increment);
    }
}

@include text-size(10, 300, 5); // [10, 20, 30 ... 300]

// Text Columns

@mixin text-columns($media, $cols: 1) {

  .text-col-#{$media}-#{$cols} {
    -webkit-column-count: $cols;
    -moz-column-count:    $cols;
    -ms-column-count:     $cols;
    -o-column-count:      $cols;
    column-count:         $cols;

    -webkit-column-gap: ceil($grid-gutter-width / 2);
    -moz-column-gap:    ceil($grid-gutter-width / 2);
    -ms-column-gap:     ceil($grid-gutter-width / 2);
    -o-column-gap:      ceil($grid-gutter-width / 2);
    column-gap:         ceil($grid-gutter-width / 2);
  }

    @if ($cols <= 3) {
        @include text-columns($media, $cols + 1)
    }
}

@include text-columns(xs);
@include screen-sm { @include text-columns(sm); }
@include screen-md { @include text-columns(md); }
@include screen-lg { @include text-columns(lg); }

// text highlight

.text-highlight {
    color: $highlight-color;
    font-weight: bold;
}

// no-link

.no-link {
    color: $text-color;
    text-decoration: none;

    @include hover-focus {
        color: $text-color;
    }
}