.student-list {

    .student {

        border: 1px solid #DEDEDE;
        @include border-radius($border-radius-base);

        .student-header {

            padding: 10px;

            .student-photo {
                width: 100%;
                position: relative;

                > img {
                    width: 100%;
                    object-fit: cover;
                    @include border-radius($border-radius-base);
                }

                .student-position {
                    position: absolute;
                    right: 0; top: 0;
                    padding: 4px 10px;

                    .label-position {
                        background-color: $highlight-color;
                        font-size: 10px;
                        text-transform: uppercase;
                    }
                }
            }

        }

        .student-body {

            padding: 0 10px 10px;
            height: 75px;
            text-align: center;

            .student-name {
                margin-top: 0;
                text-transform: uppercase;
            }

            > p {
                font-size: 12px;
                text-transform: uppercase;
            }

        }

    }

}


.approved-widget {

    .widget-body {

        border: 1px solid $highlight-color;
        padding: 15px;

        @include border-radius($border-radius-base);

        .student {

            position: relative;

            .student-photo {
                > img {
                    width: 100%;
                    @include border-radius($border-radius-base);
                }
            }

            .student-info {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                .student-info-wrap {
                    margin: 15px 30px;
                    background-color: fade($highlight-color, 65%);
                    padding: 10px;
                    color: #FFF;
                    @include border-radius($border-radius-base);
                    text-align: center;
                }

                .student-name {
                    text-transform: uppercase;
                    margin-top: 0;
                    font-size: 12px;
                }

            }

        }

        .owl-carousel {
            padding: 0 60px;
        }

        .owl-nav {

            > div {
                background-color: rgba(0, 0, 0, 0);
                bottom: 0;
                color: $highlight-color;
                font-size: 20px;
                left: 0;
                position: absolute;
                text-align: center;
                vertical-align: middle;
                top: 0;
                width: 60px;

                &.disabled {
                    opacity: .5;
                }

                &.owl-prev {
                    background-repeat: repeat-x;
                    left: 0;
                    right: auto;
                }

                &.owl-next {
                    background-repeat: repeat-x;
                    left: auto;
                    right: 0;
                }

                .icon {
                    left: 50%;
                    margin-left: -25px;
                    display: inline-block;
                    font-size: 50px;
                    height: 50px;
                    margin-top: -25px;
                    position: absolute;
                    top: 50%;
                    width: 50px;
                    z-index: 5;
                }
            }

            &.disabled {

                display: block;

            }

        }

    }

}