// Top Bar styles

.top-bar {
    background-color: $brand-warning;
    color: #fff;
    padding: 5px 0;

    nav {

        > ul {
            position: relative;
            margin: 0;
            padding: 0;

            @include clearfix;

            > li {
                float: left;
                list-style: none;

                .text { font-size: 14px; }

                > a, > span {
                    padding: 5px 10px;
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    font-size: 16px;

                    svg.icon {
                        shape-rendering: geometricPrecision;
                        text-rendering: geometricPrecision;
                        image-rendering: optimizeQuality;
                        fill-rule: evenodd;
                        clip-rule:evenodd;

                        width: 16px;
                        height: 16px;
                        display: inline-block;
                        vertical-align: middle;

                        -webkit-transform: translateY(-2px);
                        -moz-transform: translateY(-2px);
                        -ms-transform: translateY(-2px);
                        -o-transform: translateY(-2px);
                        transform: translateY(-2px);

                        .fill {
                            fill: #FFF;
                            fill-rule:nonzero;
                        }
                    }

                    &.with-image {
                        padding: 3px 5px;
                    }

                    > img {
                        height: 25px;
                    }
                }

                > a {
                    @include hover-focus {
                        opacity: .7;
                    }
                }

                @include screen-mobile {

                    .text {
                        display: none;
                    }

                    > a, span {
                        font-size: 24px;
                        padding: 5px;
                        svg.icon { width: 24px; height: 24px; }
                    }

                }
            }
        }

    }

    .social-links > ul > li > a,
    .social-links > ul > li > span { padding: 5px; }

    .nav-toogle {
        display: none;

        @include screen-mobile {
            display: block;

            .navbar-toggle {
                position: relative;
                background-color: $navbar-toggle-bg;

                @include border-radius($navbar-toggle-border-radius);
                @include borders($navbar-toggle-border);
                @include padding($navbar-toggle-padding);
                @include margin($navbar-toggle-margin);

                .icon-bar {
                    display: block;
                    width: $navbar-toggle-icon-bar-width;
                    height: $navbar-toggle-icon-bar-height;
                    background-color: $navbar-toggle-icon-bar-bg;
                    @include border-radius($navbar-toggle-icon-bar-border-radius);
                }

                @include hover-focus {
                    background-color: $navbar-toggle-hover-bg;
                    @include borders($navbar-toggle-hover-border);

                    .icon-bar {
                        background-color: $navbar-toggle-hover-icon-bar-bg;
                    }
                }

            }
        }
    }

}


// Top Brand

.top-brand {
    padding: $grid-gutter-width 0;

    .brand > img {
        width: 250px;
    }

}

// Headers

.header {
    border-left: 4px solid $brand-success;
    padding: 5px 10px;
    vertical-align: baseline;
    margin: 15px 0 10px;
}


// Breadcrumbs

.breadcrumbs > .breadcrumb {
    padding: 10px 15px;
    margin: 0 0 ceil($grid-gutter-width / 2);

    @include border-radius(4px);

    border: 1px solid #ccc;

    > li {

        > a {
            color: lighten($text-color, 35%);
            text-decoration: none;

            @include hover-focus {
                color: $text-color;
            }

            .icon {
                font-size: 130%;
                color: $brand-success;
                margin-right: 5px;
            }

        }

        & + li:before {
            font-family: 'FontAwesome';
            display: inline-block;
            content: '\f111 ';
            font-size: 10px;
            margin: 0 15px;
            color: $brand-success;

            -webkit-transform:  translateY(-1px);
            -moz-transform:     translateY(-1px);
            -ms-transform:      translateY(-1px);
            -o-transform:       translateY(-1px);
            transform:          translateY(-1px);
        }

    }

}


// Back to top button

#back-to-top {
    display: block;
    position: fixed;
    right: 6px; bottom: 6px;

    opacity: 0;
    text-align: center;
    z-index: 9999;

    background: $back-to-top-bg;
    color: $back-to-top-color;
    outline: none;

    @include borders($back-to-top-border);
    @include padding($back-to-top-padding);

    @include transition(opacity .2s linear);

    @include hover-focus {
        background-color: $back-to-top-hover-bg;
        color: $back-to-top-hover-color;
        @include borders($back-to-top-hover-border);
    }

    &.affix { opacity: 1; }
}