.news-item {
    padding: $grid-gutter-width 0;

    &:first-child { padding-top: 0; }

    & + .news-item {
        @include borders((
            top: (
                size: 1px,
                style: solid,
                color: lighten($border-color, 15%)
            )
        ));
    }

    .news-item-inner {
        padding: 0 ceil($grid-gutter-width / 2);
    }

}

.posted-with-cover {
    @include clearfix;

    @include screen-lg {
        > img {
            width: 25%;
            float: left;
        }

        .news-item-inner {
            width: 75%;
            float: left;
        }
    }

    @include screen-md {
        > img {
            width: 33.333%;
            float: left;
        }

        .news-item-inner {
            width: 66.666%;
            float: left;
        }
    }

    @include screen-sm {
        > img {
            width: 33.333%;
            float: left;
        }

        .news-item-inner {
            width: 66.666%;
            float: left;
        }
    }
}

.posted-info {
    padding-left: 0;
    list-style: none;
    margin: ceil($grid-gutter-width / 2) 0;

    > li {
        list-style: none;
        font-style: italic;
        font-size: 12px;

        & + li:before {
            font-size: 12px;
            line-height: 12px;
            margin-right: 13px;
            content: '/';
        }
    }
}

.posted-title {
    margin: 0 0 ceil($grid-gutter-width / 2);

    > a {
        color: $text-color;

        @include hover-focus {
            color: $highlight-color;
        }
    }
}

.posted-summary { margin: 0; }