.month-list {

    .month-box {

        margin-bottom: 15px;

        .month-box-header {

            @include borders((
                all: (
                    size: 1px,
                    style: solid,
                    color: $border-color)));

            @include border-radius($border-radius-base);

            .month-title {
                margin: 0;
                padding: 10px 15px;
                text-transform: uppercase;
                display: block;
            }

            .month-event-count {
                float: right;
                font-size: 12px;
                vertical-align: middle;
                display: inline-block;
                line-height: 22px;
            }

        }

        .month-box-body {

            .month-box-event-list {

                .event {
                    position: relative;
                    @include clearfix;

                    & + .event {
                        border-top: 1px solid #DEDEDE;
                    }

                    .event-header {
                        left: 15px;
                        text-align: center;
                        position: absolute;
                        padding: 15px 0;
                        width: 70px;

                        span {
                            display: block;
                            text-transform: uppercase;
                            font-size: 36px;
                            line-height: 43px;
                        }
                    }

                    .event-body {
                        padding: 15px 15px 15px 85px;

                        .event-title {
                            font-size: 16px;
                            text-transform: uppercase;
                            color: $text-color;

                            &:hover, &:focus {
                                color: $highlight-color;
                            }
                        }
                    }

                    .event-label {
                        position: absolute;
                        right: 0;
                        padding: 3px 5px;
                        color: #FFF;
                        font-size: 8px;
                        font-weight: bold;
                        text-transform: uppercase;
                        display: block;

                        @include border-radius($border-radius-base);
                    }

                    .event-read-more {
                        font-size: 12px;
                        text-transform: uppercase;
                        padding: 5px 0 0;
                    }

                    .event-content {
                        margin: 15px 0;
                    }

                }

            }

        }

    }

}


//.recent-events {
//
//    .event {
//        position: relative;
//        padding: 10px 0;
//
//        & + .event {
//            border-top: 2px solid #DEDEDE;
//        }
//
//        .event-header {
//            position: absolute;
//            left: 0; top: 0;
//            width: 60px;
//            padding: 10px 0;
//            text-align: center;
//
//            span {
//                display: block;
//                text-transform: uppercase;
//            }
//
//            > .day { font-size: 24px; line-height: 24px; }
//
//            > .month { font-size: 12px; }
//
//        }
//
//        .event-body {
//            padding-left: 75px;
//
//            .event-title {
//                margin: 0 0 5px;
//                text-transform: uppercase;
//            }
//
//            .event-date,
//            .event-time {
//                font-size: 12px;
//                text-transform: uppercase;
//            }
//        }
//
//    }
//
//}