.carousel-wide {
    @include screen-xs { display: none; }

    > .carousel-inner > .item {
        @include screen-sm { > img { height: $carousel-wide-height-sm; } }
        @include screen-md { > img { height: $carousel-wide-height-md; } }
        @include screen-lg { > img { height: $carousel-wide-height-lg; } }
    }
}