footer {
    background-color: $footer-bg;
    color: $footer-color;

    a {
        color: $footer-color;
        @include hover-focus {
            color: $footer-color;
        }
    }

    // links
    .useful-links {
        display: table;
        width: 100%;
        table-layout: fixed;

        .social-links {
            display: table-cell;
            vertical-align: middle;
            width: 50%;

            > ul {
                margin: 0; padding: 0;
                @include clearfix;

                > li {
                    list-style: none;
                    display: block;
                    float: left;

                    > a {
                        font-size: 24px;
                        padding: 5px;

                        @include hover-focus {
                            opacity: .7;
                        }
                    }
                }
            }

        }

        .brand {
            display: table-cell;
            vertical-align: middle;
            width: 50%;

            img {
                max-width: 200px;
            }
        }

    }

    // Brand

    .brand {
        text-align: center;
        margin: ceil($grid-gutter-width / 2) 0;
        display: block;

        > img {
            width: 250px;
        }
    }

    // Inner

    .footer-inner {
        @include padding((vertical: $footer-space));
    }

    // Nav List Item

    nav[role="navigation"] {

        > .nav-footer {
            padding: 0; margin: 0;

            > li {
                > a {
                    background-color: $footer-nav-item-bg;
                    color: $footer-nav-item-color;
                    @include borders($footer-nav-item-border);
                    @include padding($footer-nav-item-padding);

                    @include hover-focus {
                        background-color: $footer-nav-item-hover-bg;
                        color: $footer-nav-item-hover-color;
                        @include borders($footer-nav-item-hover-border);

                        opacity: .7;
                    }
                }
            }
        }

    }

    // Copyright
    // ---------

    .copyright {
        background-color: $footer-copyright-bg;
        color: $footer-copyright-color;
        @include padding((vertical: $footer-copyright-space));
    }

}