.gallery-list .photoset {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid $border-color;
    display: block;
    color: $text-color;
    text-decoration: none;

    @include border-radius($border-radius-base);

    .photoset-cover {
        position: relative;
        padding: 10px;

        > img {
            width: 100%;
            @include border-radius($border-radius-base);
        }

        .photo-count {
            position: absolute;
            background-color: $highlight-color;
            top: 5px; right: 5px;
            display: inline-block;
            color: #FFF;
            font-size: 10px;
            text-transform: uppercase;
            padding: 4px 8px;
            @include border-radius($border-radius-small);
        }
    }

    .photo-content {
        padding: 10px;
        height: 80px;

        .photo-title {
            text-align: center;
            text-transform: uppercase;
            margin: 0;
        }
    }

}


.photo-list {
    @include clearfix;

    .photo {
        width: 25%;
        display: block;
        float: left;

        > img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }

        @include screen-sm {
            width: 33.333%;
            > img { height: 140px; }
        }

        @include screen-xs {
            width: 50%;
            > img { height: 180px; }
        }
    }

}