.link-box {
    display: block;
    color: $text-color;
    margin-bottom: ceil($grid-gutter-width / 2);

    .link-box-inner {
        display: table;
        height: 100%;
        table-layout: fixed;
        width: 100%;
        margin: 0;

        @include screen-xs { display: none; }

        .link-box-icon {
            text-align: center;
            width: 33.333%;

            display: table-cell;
            table-layout: fixed;
            vertical-align: middle;
            float: none;

            > img { width: 75%; }
        }

        .link-box-text {
            display: table-cell;
            table-layout: fixed;
            vertical-align: middle;
            float: none;
        }

    }

    .link-box-btn {
        background-color: $highlight-color;
        color: #FFF;
        padding: 5px;
        margin-top: 15px;
        text-transform: uppercase;
        text-align: center;
        font-size: 130%;
        font-weight: bold;

        @include screen-xs {
            padding: 20px;
            font-size: 150%;
            text-align: center;
        }
    }

    @include hover-focus {
        color: darken($text-color, 8%);
        text-decoration: none;

        .link-box-btn {
            background-color: darken($highlight-color, 5%);
        }
    }

}

.link-box-spec {
    display: block;
    margin-bottom: ceil($grid-gutter-width / 2);

    @include screen-non-mobile {
        text-align: center;
        color: $text-color;

        @include hover-focus {
            color: darken($text-color, 8%);
            text-decoration: none;
        }

        .link-box-icon {
            display: inline-block;
            background-color: $highlight-color;
            width: 90px;
            height: 90px;
            padding: 15px;
            text-align: center;
            border-radius: 50em;

            > img {
                width: 60px;
                height: 60px;
            }
        }

        .link-box-divider {
            border-bottom: 3px solid $brand-success;
            min-width: 1px;
            margin: 10px auto;
            width: 50px;
        }

        .link-box-text {
            font-size: 22px;
            line-height: 1.2em;
        }
    }

    @include screen-mobile {
        background-color: $brand-success;
        display: table;
        height: 100%;
        table-layout: fixed;
        width: 100%;
        margin: 0 0 15px;
        font-size: 22px;
        line-height: 1.2em;

        color: #fff;

        @include hover-focus {
            background-color: darken($brand-success, 8%);
            color: #fff;
            text-decoration: none;
        }

        .link-box-icon {
            width: 80px;
            padding: ceil($grid-gutter-width / 2);

            display: table-cell;
            table-layout: fixed;
            vertical-align: middle;
            float: none;

            > img {
                width: 80%;
            }
        }

        .link-box-text {
            display: table-cell;
            table-layout: fixed;
            vertical-align: middle;
            float: none;
        }

        .link-box-divider { display: none; }

    }

}