@include screen-non-mobile {

    .navbar-main { @include navbar-center(); }

    .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li > a,
    .navbar-main .navbar-nav > li > a {
        font-size: 16px;
    }

    .navbar-main .navbar-nav > li.divider::before {
        font-family: 'FontAwesome';
        content: "\f111\f111\f111\f111";
        font-size: 3px;
        letter-spacing: 4px;
        display: inline-block;
        pointer-events: none;
        cursor: default;

        color: $navbar-item-active-color;
        margin: ceil($grid-gutter-width / 2) 0;

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }


}

@include screen-mobile {

    .navbar-main {
        min-height: 0;
    }

}