// Highlight Color

$highlight-color: $brand-warning !default;

// Border-Colors

$border-color: #C3C3C3 !default;

// Navbar defaults settings

$navbar-color:                      $text-color !default;
$navbar-bg:                         #F0F0F0 !default;
$navbar-border:                     none !default;

$navbar-brand-padding:              (
    vertical: 8px,
    horizontal: 15px
) !default;

// Navbar nav
// ----------

$navbar-nav-margin:                 (
    vertical: ceil($grid-gutter-width / 2)
) !default;
$navbar-nav-padding:                0 !default;


// Navbar item (1st level menu)
// ----------------------------

$navbar-item-bg:                    $navbar-bg !default;
$navbar-item-color:                 $text-color !default;
$navbar-item-padding:               (
    horizontal: ceil($grid-gutter-width / 2),
    vertical: 5px
) !default;
$navbar-item-margin:                0 !default;
$navbar-item-border-radius:         0 !default;
$navbar-item-border:                none !default;

$navbar-item-active-bg:             $navbar-bg !default;
$navbar-item-active-color:          $brand-warning !default;
$navbar-item-active-border:         none !default;

// Mobile

$navbar-mobile-item-bg:                    #fff !default;
$navbar-mobile-item-color:                 $text-color !default;
$navbar-mobile-item-padding:               (
    horizontal: ceil($grid-gutter-width / 2),
    vertical: 10px
) !default;
$navbar-mobile-item-margin:                0 !default;
$navbar-mobile-item-border-radius:         0 !default;
$navbar-mobile-item-border:                none !default;

$navbar-mobile-item-active-bg:             #fff !default;
$navbar-mobile-item-active-color:          $brand-warning !default;
$navbar-mobile-item-active-border:         none !default;

// Navbar Dropdown Menu (2nd level menu)
// -------------------------------------

$navbar-dropdown-menu-bg:               #FFF !default;
$navbar-dropdown-menu-width:            200px;
$navbar-dropdown-menu-border-radius:    (bottom: $border-radius-base) !default;
$navbar-dropdown-menu-margin:           0 !default;
$navbar-dropdown-menu-padding:          (vertical: 5px) !default;
$navbar-dropdown-menu-border-color:     #FFF !default;
$navbar-dropdown-menu-arrow-size:       6px !default;

// Mobile

$navbar-mobile-dropdown-menu-bg:               $navbar-bg !default;
$navbar-mobile-dropdown-menu-width:            200px;
$navbar-mobile-dropdown-menu-border-radius:    (bottom: $border-radius-base) !default;
$navbar-mobile-dropdown-menu-margin:           0 !default;
$navbar-mobile-dropdown-menu-padding:          (vertical: 5px) !default;
$navbar-mobile-dropdown-menu-border-color:     #FFF !default;
$navbar-mobile-dropdown-menu-arrow-size:       15px !default;

// Navbar Dropdown menu item (2nd level menu)
// ------------------------------------------

$navbar-dropdown-menu-item-bg:                    #fff !default;
$navbar-dropdown-menu-item-color:                 $text-color !default;
$navbar-dropdown-menu-item-padding:               (
    horizontal: ceil($grid-gutter-width / 2),
    vertical: 5px
) !default;
$navbar-dropdown-menu-item-margin:                0 !default;
$navbar-dropdown-menu-item-border-radius:         $navbar-border-radius !default;
$navbar-dropdown-menu-item-border:                none !default;

$navbar-dropdown-menu-item-active-bg:             $navbar-bg !default;
$navbar-dropdown-menu-item-active-color:          $brand-warning !default;
$navbar-dropdown-menu-item-active-border:         none !default;

// Mobile

$navbar-mobile-dropdown-menu-item-bg:                    $navbar-bg !default;
$navbar-mobile-dropdown-menu-item-color:                 $text-color !default;
$navbar-mobile-dropdown-menu-item-padding:               (
    horizontal: $grid-gutter-width,
    vertical: 5px
) !default;
$navbar-mobile-dropdown-menu-item-margin:                0 !default;
$navbar-mobile-dropdown-menu-item-border-radius:         $navbar-border-radius !default;
$navbar-mobile-dropdown-menu-item-border:                none !default;

$navbar-mobile-dropdown-menu-item-active-bg:             $navbar-bg !default;
$navbar-mobile-dropdown-menu-item-active-color:          $brand-warning !default;
$navbar-mobile-dropdown-menu-item-active-border:         none !default;

// Navbar Toggle

$navbar-toggle-bg:              transparent !default;
$navbar-toggle-hover-bg:        transparent !default;
$navbar-toggle-border-radius:   $border-radius-base !default;
$navbar-toggle-border:          (all: (size: 2px, style: solid, color: #fff)) !default;
$navbar-toggle-hover-border:    (all: (size: 2px, style: solid, color: #fff)) !default;
$navbar-toggle-padding:         (vertical: 10px, horizontal: 6px) !default;
$navbar-toggle-margin:          (vertical: 3px, left: 15px) !default;

$navbar-toggle-icon-bar-bg: #FFF !default;
$navbar-toggle-icon-bar-width: 22px !default;
$navbar-toggle-icon-bar-height: 2px !default;
$navbar-toggle-icon-bar-border-radius: 0 !default;
$navbar-toggle-hover-icon-bar-bg: 0 !default;

// Page Header Styles

$page-header-margin:                (
    bottom: ceil($grid-gutter-width / 2)
) !default;
$page-header-padding:               (
    vertical: 10px,
) !default;
$page-header-font-size:             $font-size-h1;
$page-header-font-family:           $headings-font-family;
$page-header-color:                 $highlight-color;
$page-header-border:                (
    bottom: (
        size: 1px,
        style: solid,
        color: $border-color
    )
) !default;

// Content
$content-main-height:               450px !default;
$content-main-space:                ceil($grid-gutter-width / 2);

$page-sidebar-width-xs:             100% !default;
$page-sidebar-width-sm:             33.333% !default;
$page-sidebar-width-md:             25% !default;
$page-sidebar-width-lg:             25% !default;

$page-sidebar-content-width-xs:     100% !default;
$page-sidebar-content-width-sm:     66.666% !default;
$page-sidebar-content-width-md:     75% !default;
$page-sidebar-content-width-lg:     75% !default;

// Carousel Wide

$carousel-wide-height-sm:           292px !default;
$carousel-wide-height-md:           460px !default;
$carousel-wide-height-lg:           460px !default;

// Sidebar
// -------

$sidebar-bg:                        transparent !default;
$sidebar-color:                     $text-color !default;

$sidebar-padding:               (vertical: 5px) !default;
$sidebar-margin:                0 !default;
$sidebar-border-radius:         4px !default;
$sidebar-border:                (
    all: (
        size: 1px,
        style: solid,
        color: $border-color
    )
) !default;

$sidebar-nav-padding:               0 !default;
$sidebar-nav-margin:                0 !default;
$sidebar-nav-border-radius:         0 !default;
$sidebar-nav-border:                none !default;

$sidebar-nav-item-bg:               transparent !default;
$sidebar-nav-item-color:            $text-color !default;
$sidebar-nav-item-border:           none !default;
$sidebar-nav-item-border-radius:    $border-radius-base !default;

$sidebar-nav-item-margin:           0 !default;
$sidebar-nav-item-padding:          (
    vertical: 6px,
    horizontal: ceil($grid-gutter-width / 2)
) !default;

$sidebar-nav-item-hover-bg:         #e6e6e6 !default;
$sidebar-nav-item-hover-color:      $highlight-color !default;
$sidebar-nav-item-hover-border:     none !default;

// Footer and Copyright definitions
// ================================

$footer-bg:                         $brand-primary !default;
$footer-color:                      #fff !default;
$footer-space:                      $grid-gutter-width * 2 !default;          // vertical padding to footer

// Footer Nav-List
// ---------------

$footer-nav-item-bg:                transparent !default;
$footer-nav-item-color:             #FFF !default;
$footer-nav-item-border:            none !default;
$footer-nav-item-padding:           (vertical: 4px) !default;

$footer-nav-item-hover-bg:          transparent !default;
$footer-nav-item-hover-color:       #FFF !default;
$footer-nav-item-hover-border:      none !default;

// Copyright
// ---------

$footer-copyright-bg:               darken($footer-bg, 8%) !default;
$footer-copyright-color:            $footer-color !default;
$footer-copyright-space:            ceil($grid-gutter-width / 2) !default;

// Back to top button style
// ========================

$back-to-top-bg:                    $footer-copyright-bg !default;
$back-to-top-color:                 $footer-copyright-color !default;
$back-to-top-border:                none !default;
$back-to-top-padding:               (
    vertical: $padding-base-vertical,
    horizontal: $padding-base-horizontal
) !default;

$back-to-top-hover-bg:              $footer-copyright-bg !default;
$back-to-top-hover-color:           $footer-copyright-color !default;
$back-to-top-hover-border:          none !default;