<a class="item {{ type }} social-share"
   data-type="{{ type }}"
   data-url="{{ share_url }}"
   data-width="{{ dialog_width }}"
   data-height="{{ dialog_height }}"
   href="{{ share_url }}"
   target="_blank"
   {% if title %}title="{{ title }}"{% endif %}>
    <span class="icon-{{ type }}"></span>
</a>