/*!
 * The website full theme styles
 * Bootstrap 3.3.7 requirement
 */
.no-padding {
  padding: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.no-padding-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important; }

@media (max-width: 767px) {
  .no-padding-xs {
    padding: 0 !important; }

  .no-padding-top-xs {
    padding-top: 0 !important; }

  .no-padding-left-xs {
    padding-left: 0 !important; }

  .no-padding-bottom-xs {
    padding-bottom: 0 !important; }

  .no-padding-right-xs {
    padding-right: 0 !important; }

  .no-padding-vertical-xs {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

  .no-padding-horizontal-xs {
    padding-left: 0 !important;
    padding-right: 0 !important; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .no-padding-sm {
    padding: 0 !important; }

  .no-padding-top-sm {
    padding-top: 0 !important; }

  .no-padding-left-sm {
    padding-left: 0 !important; }

  .no-padding-bottom-sm {
    padding-bottom: 0 !important; }

  .no-padding-right-sm {
    padding-right: 0 !important; }

  .no-padding-vertical-sm {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

  .no-padding-horizontal-sm {
    padding-left: 0 !important;
    padding-right: 0 !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .no-padding-md {
    padding: 0 !important; }

  .no-padding-top-md {
    padding-top: 0 !important; }

  .no-padding-left-md {
    padding-left: 0 !important; }

  .no-padding-bottom-md {
    padding-bottom: 0 !important; }

  .no-padding-right-md {
    padding-right: 0 !important; }

  .no-padding-vertical-md {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

  .no-padding-horizontal-md {
    padding-left: 0 !important;
    padding-right: 0 !important; } }
@media (min-width: 1200px) {
  .no-padding-lg {
    padding: 0 !important; }

  .no-padding-top-lg {
    padding-top: 0 !important; }

  .no-padding-left-lg {
    padding-left: 0 !important; }

  .no-padding-bottom-lg {
    padding-bottom: 0 !important; }

  .no-padding-right-lg {
    padding-right: 0 !important; }

  .no-padding-vertical-lg {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

  .no-padding-horizontal-lg {
    padding-left: 0 !important;
    padding-right: 0 !important; } }
.padding-10,
.p10 {
  padding: 10px; }

.padding-15,
.p15 {
  padding: 15px; }

.padding-20,
.p20 {
  padding: 20px; }

.padding-25,
.p25 {
  padding: 25px; }

.padding-30,
.p30 {
  padding: 30px; }

.padding-35,
.p35 {
  padding: 35px; }

.padding-40,
.p40 {
  padding: 40px; }

.padding-45,
.p45 {
  padding: 45px; }

.padding-50,
.p50 {
  padding: 50px; }

.padding-55,
.p55 {
  padding: 55px; }

.padding-60,
.p60 {
  padding: 60px; }

.padding-65,
.p65 {
  padding: 65px; }

.padding-70,
.p70 {
  padding: 70px; }

.padding-75,
.p75 {
  padding: 75px; }

.padding-80,
.p80 {
  padding: 80px; }

.padding-85,
.p85 {
  padding: 85px; }

.padding-90,
.p90 {
  padding: 90px; }

.padding-95,
.p95 {
  padding: 95px; }

.padding-100,
.p100 {
  padding: 100px; }

.padding-vertical-10,
.pv10 {
  padding: 10px 0; }

.padding-vertical-15,
.pv15 {
  padding: 15px 0; }

.padding-vertical-20,
.pv20 {
  padding: 20px 0; }

.padding-vertical-25,
.pv25 {
  padding: 25px 0; }

.padding-vertical-30,
.pv30 {
  padding: 30px 0; }

.padding-vertical-35,
.pv35 {
  padding: 35px 0; }

.padding-vertical-40,
.pv40 {
  padding: 40px 0; }

.padding-vertical-45,
.pv45 {
  padding: 45px 0; }

.padding-vertical-50,
.pv50 {
  padding: 50px 0; }

.padding-vertical-55,
.pv55 {
  padding: 55px 0; }

.padding-vertical-60,
.pv60 {
  padding: 60px 0; }

.padding-vertical-65,
.pv65 {
  padding: 65px 0; }

.padding-vertical-70,
.pv70 {
  padding: 70px 0; }

.padding-vertical-75,
.pv75 {
  padding: 75px 0; }

.padding-vertical-80,
.pv80 {
  padding: 80px 0; }

.padding-vertical-85,
.pv85 {
  padding: 85px 0; }

.padding-vertical-90,
.pv90 {
  padding: 90px 0; }

.padding-vertical-95,
.pv95 {
  padding: 95px 0; }

.padding-vertical-100,
.pv100 {
  padding: 100px 0; }

.padding-horizontal-10,
.ph10 {
  padding: 0 10px; }

.padding-vertical-15,
.pv15 {
  padding: 15px 0; }

.padding-vertical-20,
.pv20 {
  padding: 20px 0; }

.padding-vertical-25,
.pv25 {
  padding: 25px 0; }

.padding-vertical-30,
.pv30 {
  padding: 30px 0; }

.padding-vertical-35,
.pv35 {
  padding: 35px 0; }

.padding-vertical-40,
.pv40 {
  padding: 40px 0; }

.padding-vertical-45,
.pv45 {
  padding: 45px 0; }

.padding-vertical-50,
.pv50 {
  padding: 50px 0; }

.padding-vertical-55,
.pv55 {
  padding: 55px 0; }

.padding-vertical-60,
.pv60 {
  padding: 60px 0; }

.padding-vertical-65,
.pv65 {
  padding: 65px 0; }

.padding-vertical-70,
.pv70 {
  padding: 70px 0; }

.padding-vertical-75,
.pv75 {
  padding: 75px 0; }

.padding-vertical-80,
.pv80 {
  padding: 80px 0; }

.padding-vertical-85,
.pv85 {
  padding: 85px 0; }

.padding-vertical-90,
.pv90 {
  padding: 90px 0; }

.padding-vertical-95,
.pv95 {
  padding: 95px 0; }

.padding-vertical-100,
.pv100 {
  padding: 100px 0; }

.no-margin {
  margin: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-margin-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.no-margin-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important; }

@media (max-width: 767px) {
  .no-margin-xs {
    margin: 0 !important; }

  .no-margin-top-xs {
    margin-top: 0 !important; }

  .no-margin-left-xs {
    margin-left: 0 !important; }

  .no-margin-bottom-xs {
    margin-bottom: 0 !important; }

  .no-margin-right-xs {
    margin-right: 0 !important; }

  .no-margin-vertical-xs {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }

  .no-margin-horizontal-xs {
    margin-left: 0 !important;
    margin-right: 0 !important; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .no-margin-sm {
    margin: 0 !important; }

  .no-margin-top-sm {
    margin-top: 0 !important; }

  .no-margin-left-sm {
    margin-left: 0 !important; }

  .no-margin-bottom-sm {
    margin-bottom: 0 !important; }

  .no-margin-right-sm {
    margin-right: 0 !important; }

  .no-margin-vertical-sm {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }

  .no-margin-horizontal-sm {
    margin-left: 0 !important;
    margin-right: 0 !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .no-margin-md {
    margin: 0 !important; }

  .no-margin-top-md {
    margin-top: 0 !important; }

  .no-margin-left-md {
    margin-left: 0 !important; }

  .no-margin-bottom-md {
    margin-bottom: 0 !important; }

  .no-margin-right-md {
    margin-right: 0 !important; }

  .no-margin-vertical-md {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }

  .no-margin-horizontal-md {
    margin-left: 0 !important;
    margin-right: 0 !important; } }
@media (min-width: 1200px) {
  .no-margin-lg {
    margin: 0 !important; }

  .no-margin-top-lg {
    margin-top: 0 !important; }

  .no-margin-left-lg {
    margin-left: 0 !important; }

  .no-margin-bottom-lg {
    margin-bottom: 0 !important; }

  .no-margin-right-lg {
    margin-right: 0 !important; }

  .no-margin-vertical-lg {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }

  .no-margin-horizontal-lg {
    margin-left: 0 !important;
    margin-right: 0 !important; } }
.margin-10,
.m10 {
  margin: 10px; }

.margin-15,
.m15 {
  margin: 15px; }

.margin-20,
.m20 {
  margin: 20px; }

.margin-25,
.m25 {
  margin: 25px; }

.margin-30,
.m30 {
  margin: 30px; }

.margin-35,
.m35 {
  margin: 35px; }

.margin-40,
.m40 {
  margin: 40px; }

.margin-45,
.m45 {
  margin: 45px; }

.margin-50,
.m50 {
  margin: 50px; }

.margin-55,
.m55 {
  margin: 55px; }

.margin-60,
.m60 {
  margin: 60px; }

.margin-65,
.m65 {
  margin: 65px; }

.margin-70,
.m70 {
  margin: 70px; }

.margin-75,
.m75 {
  margin: 75px; }

.margin-80,
.m80 {
  margin: 80px; }

.margin-85,
.m85 {
  margin: 85px; }

.margin-90,
.m90 {
  margin: 90px; }

.margin-95,
.m95 {
  margin: 95px; }

.margin-100,
.m100 {
  margin: 100px; }

.margin-vertical-10,
.mv10 {
  margin: 10px 0; }

.margin-vertical-15,
.mv15 {
  margin: 15px 0; }

.margin-vertical-20,
.mv20 {
  margin: 20px 0; }

.margin-vertical-25,
.mv25 {
  margin: 25px 0; }

.margin-vertical-30,
.mv30 {
  margin: 30px 0; }

.margin-vertical-35,
.mv35 {
  margin: 35px 0; }

.margin-vertical-40,
.mv40 {
  margin: 40px 0; }

.margin-vertical-45,
.mv45 {
  margin: 45px 0; }

.margin-vertical-50,
.mv50 {
  margin: 50px 0; }

.margin-vertical-55,
.mv55 {
  margin: 55px 0; }

.margin-vertical-60,
.mv60 {
  margin: 60px 0; }

.margin-vertical-65,
.mv65 {
  margin: 65px 0; }

.margin-vertical-70,
.mv70 {
  margin: 70px 0; }

.margin-vertical-75,
.mv75 {
  margin: 75px 0; }

.margin-vertical-80,
.mv80 {
  margin: 80px 0; }

.margin-vertical-85,
.mv85 {
  margin: 85px 0; }

.margin-vertical-90,
.mv90 {
  margin: 90px 0; }

.margin-vertical-95,
.mv95 {
  margin: 95px 0; }

.margin-vertical-100,
.mv100 {
  margin: 100px 0; }

.margin-horizontal-10,
.mh10 {
  margin: 0 10px; }

.margin-horizontal-15,
.mh15 {
  margin: 0 15px; }

.margin-horizontal-20,
.mh20 {
  margin: 0 20px; }

.margin-horizontal-25,
.mh25 {
  margin: 0 25px; }

.margin-horizontal-30,
.mh30 {
  margin: 0 30px; }

.margin-horizontal-35,
.mh35 {
  margin: 0 35px; }

.margin-horizontal-40,
.mh40 {
  margin: 0 40px; }

.margin-horizontal-45,
.mh45 {
  margin: 0 45px; }

.margin-horizontal-50,
.mh50 {
  margin: 0 50px; }

.margin-horizontal-55,
.mh55 {
  margin: 0 55px; }

.margin-horizontal-60,
.mh60 {
  margin: 0 60px; }

.margin-horizontal-65,
.mh65 {
  margin: 0 65px; }

.margin-horizontal-70,
.mh70 {
  margin: 0 70px; }

.margin-horizontal-75,
.mh75 {
  margin: 0 75px; }

.margin-horizontal-80,
.mh80 {
  margin: 0 80px; }

.margin-horizontal-85,
.mh85 {
  margin: 0 85px; }

.margin-horizontal-90,
.mh90 {
  margin: 0 90px; }

.margin-horizontal-95,
.mh95 {
  margin: 0 95px; }

.margin-horizontal-100,
.mh100 {
  margin: 0 100px; }

.space-xs {
  margin: 10px; }

.space-sm, .space {
  margin: 15px; }

.space-lg {
  margin: 30px; }

.space-1 {
  margin: 1px 0; }

.space-2 {
  margin: 2px 0; }

.space-3 {
  margin: 3px 0; }

.space-4 {
  margin: 4px 0; }

.space-5 {
  margin: 5px 0; }

.space-6 {
  margin: 6px 0; }

.space-7 {
  margin: 7px 0; }

.space-8 {
  margin: 8px 0; }

.space-9 {
  margin: 9px 0; }

.space-10 {
  margin: 10px 0; }

.space-11 {
  margin: 11px 0; }

.space-12 {
  margin: 12px 0; }

.space-13 {
  margin: 13px 0; }

.space-14 {
  margin: 14px 0; }

.space-15 {
  margin: 15px 0; }

.no-border {
  border-width: 0 !important; }

.no-border-bottom {
  border-bottom-width: 0 !important; }

.no-border-top {
  border-top-width: 0 !important; }

.no-border-left {
  border-left-width: 0 !important; }

.no-border-right {
  border-right-width: 0 !important; }

.no-radius,
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.rounded {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.rounded-lg {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.rounded-sm {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.no-float {
  float: none !important; }

.row-table {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
  margin: 0; }
  .row-table [class*="col-"],
  .row-table [class^="col-"] {
    display: table-cell;
    table-layout: fixed;
    vertical-align: middle;
    float: none; }

.row-flush [class*="col-"],
.row-flush [class^="col-"] {
  padding-left: 0;
  padding-right: 0; }

.visible-mobile {
  display: none !important; }

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important; }

  .visible-mobile {
    display: block !important; } }
.block {
  display: block !important; }

.hidden {
  display: none !important; }

.inline {
  display: inline !important; }

.inline-block {
  display: inline-block !important; }

.bg-primary {
  background-color: #336666;
  color: #FFF; }

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #224444;
  color: #FFF;
  text-decoration: none; }

.bg-success {
  background-color: #86BC42;
  color: #FFF; }

a.bg-success:hover,
a.bg-success:focus {
  background-color: #6b9635;
  color: #FFF;
  text-decoration: none; }

.bg-info {
  background-color: #00CCFF;
  color: #FFF; }

a.bg-info:hover,
a.bg-info:focus {
  background-color: #00a3cc;
  color: #FFF;
  text-decoration: none; }

.bg-warning {
  background-color: #F7741F;
  color: #FFF; }

a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #db5b08;
  color: #FFF;
  text-decoration: none; }

.bg-danger {
  background-color: #f43f1f;
  color: #FFF; }

a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #d6290a;
  color: #FFF;
  text-decoration: none; }

.bg-highlight {
  background-color: #F7741F;
  color: #FFF; }

a.bg-highlight:hover,
a.bg-highlight:focus {
  background-color: #db5b08;
  color: #FFF;
  text-decoration: none; }

.img-cover {
  object-fit: cover;
  height: 100%; }

.lighter {
  font-weight: lighter; }

.bolder {
  font-weight: bolder; }

.align-center, .text-center {
  text-align: center !important; }

.align-left, .text-left {
  text-align: left !important; }

.align-right, .text-right {
  text-align: right !important; }

.align-justify, .text-justify {
  text-align: justify !important; }

.vertical-align-top {
  vertical-align: top !important; }

.vertical-align-bottom {
  vertical-align: bottom !important; }

.vertical-align-middle {
  vertical-align: middle !important; }

.line-height-normal {
  line-height: normal !important; }

.line-height-0 {
  line-height: 0 !important; }

.line-height-25 {
  line-height: 0.25 !important; }

.line-height-50 {
  line-height: 0.5 !important; }

.line-height-75 {
  line-height: 0.75 !important; }

.line-height-100 {
  line-height: 1 !important; }

.line-height-125 {
  line-height: 1.25 !important; }

.line-height-150 {
  line-height: 1.5 !important; }

.text-10 {
  font-size: 10% !important; }

.text-15 {
  font-size: 15% !important; }

.text-20 {
  font-size: 20% !important; }

.text-25 {
  font-size: 25% !important; }

.text-30 {
  font-size: 30% !important; }

.text-35 {
  font-size: 35% !important; }

.text-40 {
  font-size: 40% !important; }

.text-45 {
  font-size: 45% !important; }

.text-50 {
  font-size: 50% !important; }

.text-55 {
  font-size: 55% !important; }

.text-60 {
  font-size: 60% !important; }

.text-65 {
  font-size: 65% !important; }

.text-70 {
  font-size: 70% !important; }

.text-75 {
  font-size: 75% !important; }

.text-80 {
  font-size: 80% !important; }

.text-85 {
  font-size: 85% !important; }

.text-90 {
  font-size: 90% !important; }

.text-95 {
  font-size: 95% !important; }

.text-100 {
  font-size: 100% !important; }

.text-105 {
  font-size: 105% !important; }

.text-110 {
  font-size: 110% !important; }

.text-115 {
  font-size: 115% !important; }

.text-120 {
  font-size: 120% !important; }

.text-125 {
  font-size: 125% !important; }

.text-130 {
  font-size: 130% !important; }

.text-135 {
  font-size: 135% !important; }

.text-140 {
  font-size: 140% !important; }

.text-145 {
  font-size: 145% !important; }

.text-150 {
  font-size: 150% !important; }

.text-155 {
  font-size: 155% !important; }

.text-160 {
  font-size: 160% !important; }

.text-165 {
  font-size: 165% !important; }

.text-170 {
  font-size: 170% !important; }

.text-175 {
  font-size: 175% !important; }

.text-180 {
  font-size: 180% !important; }

.text-185 {
  font-size: 185% !important; }

.text-190 {
  font-size: 190% !important; }

.text-195 {
  font-size: 195% !important; }

.text-200 {
  font-size: 200% !important; }

.text-205 {
  font-size: 205% !important; }

.text-210 {
  font-size: 210% !important; }

.text-215 {
  font-size: 215% !important; }

.text-220 {
  font-size: 220% !important; }

.text-225 {
  font-size: 225% !important; }

.text-230 {
  font-size: 230% !important; }

.text-235 {
  font-size: 235% !important; }

.text-240 {
  font-size: 240% !important; }

.text-245 {
  font-size: 245% !important; }

.text-250 {
  font-size: 250% !important; }

.text-255 {
  font-size: 255% !important; }

.text-260 {
  font-size: 260% !important; }

.text-265 {
  font-size: 265% !important; }

.text-270 {
  font-size: 270% !important; }

.text-275 {
  font-size: 275% !important; }

.text-280 {
  font-size: 280% !important; }

.text-285 {
  font-size: 285% !important; }

.text-290 {
  font-size: 290% !important; }

.text-295 {
  font-size: 295% !important; }

.text-300 {
  font-size: 300% !important; }

.text-col-xs-1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -ms-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px; }

.text-col-xs-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -ms-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px; }

.text-col-xs-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -ms-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px; }

.text-col-xs-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -ms-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px; }

@media (min-width: 768px) and (max-width: 1199px) {
  .text-col-sm-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; }

  .text-col-sm-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; }

  .text-col-sm-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; }

  .text-col-sm-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .text-col-md-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; }

  .text-col-md-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; }

  .text-col-md-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; }

  .text-col-md-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; } }
@media (min-width: 1200px) {
  .text-col-lg-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; }

  .text-col-lg-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; }

  .text-col-lg-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; }

  .text-col-lg-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px; } }
.text-highlight {
  color: #F7741F;
  font-weight: bold; }

.no-link {
  color: #666666;
  text-decoration: none; }
  .no-link:hover, .no-link:focus {
    color: #666666; }

.top-bar {
  background-color: #F7741F;
  color: #fff;
  padding: 5px 0; }
  .top-bar nav > ul {
    position: relative;
    margin: 0;
    padding: 0; }
    .top-bar nav > ul:before, .top-bar nav > ul:after {
      content: " ";
      display: table; }
    .top-bar nav > ul:after {
      clear: both; }
    .top-bar nav > ul > li {
      float: left;
      list-style: none; }
      .top-bar nav > ul > li .text {
        font-size: 14px; }
      .top-bar nav > ul > li > a, .top-bar nav > ul > li > span {
        padding: 5px 10px;
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 16px; }
        .top-bar nav > ul > li > a svg.icon, .top-bar nav > ul > li > span svg.icon {
          shape-rendering: geometricPrecision;
          text-rendering: geometricPrecision;
          image-rendering: optimizeQuality;
          fill-rule: evenodd;
          clip-rule: evenodd;
          width: 16px;
          height: 16px;
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: translateY(-2px);
          -moz-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
          -o-transform: translateY(-2px);
          transform: translateY(-2px); }
          .top-bar nav > ul > li > a svg.icon .fill, .top-bar nav > ul > li > span svg.icon .fill {
            fill: #FFF;
            fill-rule: nonzero; }
        .top-bar nav > ul > li > a.with-image, .top-bar nav > ul > li > span.with-image {
          padding: 3px 5px; }
        .top-bar nav > ul > li > a > img, .top-bar nav > ul > li > span > img {
          height: 25px; }
      .top-bar nav > ul > li > a:hover, .top-bar nav > ul > li > a:focus {
        opacity: .7; }
      @media (max-width: 767px) {
        .top-bar nav > ul > li .text {
          display: none; }
        .top-bar nav > ul > li > a, .top-bar nav > ul > li span {
          font-size: 24px;
          padding: 5px; }
          .top-bar nav > ul > li > a svg.icon, .top-bar nav > ul > li span svg.icon {
            width: 24px;
            height: 24px; } }
  .top-bar .social-links > ul > li > a,
  .top-bar .social-links > ul > li > span {
    padding: 5px; }
  .top-bar .nav-toogle {
    display: none; }
    @media (max-width: 767px) {
      .top-bar .nav-toogle {
        display: block; }
        .top-bar .nav-toogle .navbar-toggle {
          position: relative;
          background-color: transparent;
          -webkit-border-radius: 0 0 0 0;
          -moz-border-radius: 0 0 0 0;
          border-radius: 0 0 0 0;
          -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          border: 2px solid #fff;
          padding: 10px 6px 10px 6px;
          margin: 3px 0 3px 15px; }
          .top-bar .nav-toogle .navbar-toggle .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            background-color: #FFF;
            -webkit-border-radius: 0 0 0 0;
            -moz-border-radius: 0 0 0 0;
            border-radius: 0 0 0 0;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box; }
          .top-bar .nav-toogle .navbar-toggle:hover, .top-bar .nav-toogle .navbar-toggle:focus {
            background-color: transparent;
            border: 2px solid #fff; }
            .top-bar .nav-toogle .navbar-toggle:hover .icon-bar, .top-bar .nav-toogle .navbar-toggle:focus .icon-bar {
              background-color: 0; } }

.top-brand {
  padding: 30px 0; }
  .top-brand .brand > img {
    width: 250px; }

.header {
  border-left: 4px solid #86BC42;
  padding: 5px 10px;
  vertical-align: baseline;
  margin: 15px 0 10px; }

.breadcrumbs > .breadcrumb {
  padding: 10px 15px;
  margin: 0 0 15px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc; }
  .breadcrumbs > .breadcrumb > li > a {
    color: #bfbfbf;
    text-decoration: none; }
    .breadcrumbs > .breadcrumb > li > a:hover, .breadcrumbs > .breadcrumb > li > a:focus {
      color: #666666; }
    .breadcrumbs > .breadcrumb > li > a .icon {
      font-size: 130%;
      color: #86BC42;
      margin-right: 5px; }
  .breadcrumbs > .breadcrumb > li + li:before {
    font-family: 'FontAwesome';
    display: inline-block;
    content: '\f111 ';
    font-size: 10px;
    margin: 0 15px;
    color: #86BC42;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px); }

#back-to-top {
  display: block;
  position: fixed;
  right: 6px;
  bottom: 6px;
  opacity: 0;
  text-align: center;
  z-index: 9999;
  background: #254b4b;
  color: #fff;
  outline: none;
  border: none;
  padding: 6px 12px 6px 12px;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
  #back-to-top:hover, #back-to-top:focus {
    background-color: #254b4b;
    color: #fff;
    border: none; }
  #back-to-top.affix {
    opacity: 1; }

.navbar-main {
  background-color: #F0F0F0;
  color: #666666;
  border: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.navbar-main .navbar-header > .navbar-brand {
  height: 100%;
  padding: 8px 15px 8px 15px; }
  .navbar-main .navbar-header > .navbar-brand > img {
    width: 100%; }

@media (min-width: 767px) {
  .navbar-main .navbar-nav {
    padding: 0;
    margin: 15px 0 15px 0; }

  .navbar-main .navbar-nav > li > a {
    background-color: #F0F0F0;
    color: #666666;
    border: none;
    margin: 0;
    padding: 5px 15px 5px 15px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  .navbar-main .navbar-nav > li > a:hover, .navbar-main .navbar-nav > li > a:focus, .navbar-main .navbar-nav > li.active > a, .navbar-main .navbar-nav > li.active > a:hover, .navbar-main .navbar-nav > li.active > a:focus {
    background-color: #F0F0F0;
    color: #F7741F;
    border: none; }

  .navbar-main .navbar-nav > .dropdown > .dropdown-menu {
    background-color: #FFF;
    width: 200px;
    padding: 5px 0 5px 0;
    margin: 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #FFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li > a {
    background-color: #fff;
    color: #666666;
    border: none;
    margin: 0;
    padding: 5px 15px 5px 15px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li > a:hover, .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li > a:focus, .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li.active > a, .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li.active > a:hover, .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li.active > a:focus {
    background-color: #F0F0F0;
    color: #F7741F;
    border: none; }

  .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow:after, .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow:before {
    content: " ";
    bottom: 100%;
    left: 15%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow:after {
    border-color: transparent;
    border-bottom-color: #FFF;
    border-width: 6px;
    margin-left: -6px; }
  .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow:before {
    border-color: transparent;
    border-bottom-color: #FFF;
    border-width: 8px;
    margin-left: -8px; }
  .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow.dropdown-menu-right:before, .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow.dropdown-menu-right:after {
    left: 85%; }

  .dropdown.dropdown-hover:hover > .dropdown-menu {
    display: block; }
  .dropdown.dropdown-hover.open > .dropdown-menu {
    display: none; } }
@media (max-width: 767px) {
  .navbar-main .navbar-nav > li > a {
    background-color: #fff;
    color: #666666;
    border: none;
    margin: 0;
    padding: 10px 15px 10px 15px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
    .navbar-main .navbar-nav > li > a .caret {
      display: none; }
  .navbar-main .navbar-nav > li > a:hover, .navbar-main .navbar-nav > li > a:focus, .navbar-main .navbar-nav > li.active > a, .navbar-main .navbar-nav > li.active > a:hover, .navbar-main .navbar-nav > li.active > a:focus {
    background-color: #fff;
    color: #F7741F;
    border: none; }

  .navbar-main .navbar-nav > .dropdown > .dropdown-menu {
    background-color: #F0F0F0;
    padding: 5px 0 5px 0;
    margin: 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #FFF;
    width: 100%;
    position: relative !important;
    float: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li > a {
    background-color: #F0F0F0;
    color: #666666;
    border: none;
    margin: 0;
    padding: 5px 30px 5px 30px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li > a:hover, .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li > a:focus, .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li.active > a, .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li.active > a:hover, .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li.active > a:focus {
    background-color: #F0F0F0;
    color: #F7741F;
    border: none; }

  .navbar-main .navbar-nav > .dropdown > [aria-expanded="false"] + .dropdown-menu-arrow,
  .navbar-main .navbar-nav > .dropdown > [aria-expanded="true"] + .dropdown-menu-arrow {
    display: block !important; }

  .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow {
    display: block !important; }
    .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow:after, .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow:before {
      content: " ";
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow:after {
      border-color: transparent;
      border-bottom-color: #F0F0F0;
      border-width: 15px;
      margin-left: -15px; }
    .navbar-main .navbar-nav > .dropdown > .dropdown-menu.dropdown-menu-arrow:before {
      border-color: transparent;
      border-bottom-color: #FFF;
      border-width: 17px;
      margin-left: -17px; } }
.navbar-center-xs .navbar-header {
  text-align: center;
  float: none; }
  .navbar-center-xs .navbar-header > .navbar-brand {
    display: inline-block;
    white-space: nowrap;
    vertical-align: bottom;
    float: none; }
.navbar-center-xs .navbar-collapse {
  text-align: center; }
  .navbar-center-xs .navbar-collapse .navbar-nav {
    display: inline-block;
    white-space: nowrap;
    vertical-align: bottom;
    float: none !important; }

@media (min-width: 768px) and (max-width: 1199px) {
  .navbar-center-sm .navbar-header {
    text-align: center;
    float: none; }
    .navbar-center-sm .navbar-header > .navbar-brand {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none; }
  .navbar-center-sm .navbar-collapse {
    text-align: center; }
    .navbar-center-sm .navbar-collapse .navbar-nav {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-center-md .navbar-header {
    text-align: center;
    float: none; }
    .navbar-center-md .navbar-header > .navbar-brand {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none; }
  .navbar-center-md .navbar-collapse {
    text-align: center; }
    .navbar-center-md .navbar-collapse .navbar-nav {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none !important; } }
@media (min-width: 1200px) {
  .navbar-center-lg .navbar-header {
    text-align: center;
    float: none; }
    .navbar-center-lg .navbar-header > .navbar-brand {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none; }
  .navbar-center-lg .navbar-collapse {
    text-align: center; }
    .navbar-center-lg .navbar-collapse .navbar-nav {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none !important; } }
@media (max-width: 767px) {
  .navbar-center-mobile .navbar-header {
    text-align: center;
    float: none; }
    .navbar-center-mobile .navbar-header > .navbar-brand {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none; }
  .navbar-center-mobile .navbar-collapse {
    text-align: center; }
    .navbar-center-mobile .navbar-collapse .navbar-nav {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none !important; } }
@media (min-width: 767px) {
  .navbar-center-non-mobile .navbar-header {
    text-align: center;
    float: none; }
    .navbar-center-non-mobile .navbar-header > .navbar-brand {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none; }
  .navbar-center-non-mobile .navbar-collapse {
    text-align: center; }
    .navbar-center-non-mobile .navbar-collapse .navbar-nav {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none !important; } }
@media (min-width: 767px) {
  .navbar-main .navbar-header {
    text-align: center;
    float: none; }
    .navbar-main .navbar-header > .navbar-brand {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none; }
  .navbar-main .navbar-collapse {
    text-align: center; }
    .navbar-main .navbar-collapse .navbar-nav {
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
      float: none !important; }

  .navbar-main .navbar-nav > .dropdown > .dropdown-menu > li > a,
  .navbar-main .navbar-nav > li > a {
    font-size: 16px; }

  .navbar-main .navbar-nav > li.divider::before {
    font-family: 'FontAwesome';
    content: "\f111\f111\f111\f111";
    font-size: 3px;
    letter-spacing: 4px;
    display: inline-block;
    pointer-events: none;
    cursor: default;
    color: #F7741F;
    margin: 15px 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); } }
@media (max-width: 767px) {
  .navbar-main {
    min-height: 0; } }
.page-header {
  margin: 0 0 15px 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #C3C3C3; }
  .page-header:before, .page-header:after {
    content: " ";
    display: table; }
  .page-header:after {
    clear: both; }
  .page-header .page-title {
    font-size: 36px;
    font-family: inherit;
    color: #F7741F;
    float: left;
    margin: 0;
    padding: 0; }

.page-wrap {
  min-height: 450px;
  margin: 15px 0; }
  .page-wrap .page-row {
    margin: 0 -15px; }
    .page-wrap .page-row:before, .page-wrap .page-row:after {
      content: " ";
      display: table; }
    .page-wrap .page-row:after {
      clear: both; }
    .page-wrap .page-row .page-sidebar, .page-wrap .page-row .page-content {
      float: left;
      padding: 0 15px;
      position: relative;
      min-height: 1px; }
    .page-wrap .page-row .page-sidebar {
      width: 100%; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .page-wrap .page-row .page-sidebar {
          width: 33.333%; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .page-wrap .page-row .page-sidebar {
          width: 25%; } }
      @media (min-width: 1200px) {
        .page-wrap .page-row .page-sidebar {
          width: 25%; } }
    .page-wrap .page-row .page-content {
      width: 100%; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .page-wrap .page-row .page-content {
          width: 66.666%; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .page-wrap .page-row .page-content {
          width: 75%; } }
      @media (min-width: 1200px) {
        .page-wrap .page-row .page-content {
          width: 75%; } }

.carousel .item > img {
  height: 100%;
  object-fit: cover; }
.carousel .item .carousel-caption {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 15px;
  z-index: 10;
  text-align: center;
  padding: 15px; }
.carousel .carousel-control {
  background-image: none; }
  .carousel .carousel-control .icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    z-index: 5; }
  .carousel .carousel-control.left .icon {
    left: 50%;
    margin-left: -25px; }
  .carousel .carousel-control.right .icon {
    right: 50%;
    margin-right: -25px; }

@media (max-width: 767px) {
  .carousel-wide {
    display: none; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .carousel-wide > .carousel-inner > .item > img {
    height: 292px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-wide > .carousel-inner > .item > img {
    height: 460px; } }
@media (min-width: 1200px) {
  .carousel-wide > .carousel-inner > .item > img {
    height: 460px; } }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 22.5px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple],
select[size] {
  height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

output {
  display: block;
  padding-top: 7px;
  font-size: 15px;
  line-height: 1.42857;
  color: #555555; }

.form-control, select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus, select:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus {
    border-color: #F7741F;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 116, 31, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 116, 31, 0.6); }
  .form-control::-moz-placeholder, select::-moz-placeholder,
  textarea::-moz-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="datetime"]::-moz-placeholder,
  input[type="datetime-local"]::-moz-placeholder,
  input[type="date"]::-moz-placeholder,
  input[type="month"]::-moz-placeholder,
  input[type="time"]::-moz-placeholder,
  input[type="week"]::-moz-placeholder,
  input[type="number"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="url"]::-moz-placeholder,
  input[type="search"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="color"]::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .form-control:-ms-input-placeholder, select:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="datetime"]:-ms-input-placeholder,
  input[type="datetime-local"]:-ms-input-placeholder,
  input[type="date"]:-ms-input-placeholder,
  input[type="month"]:-ms-input-placeholder,
  input[type="time"]:-ms-input-placeholder,
  input[type="week"]:-ms-input-placeholder,
  input[type="number"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="url"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="color"]:-ms-input-placeholder {
    color: #999; }
  .form-control::-webkit-input-placeholder, select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="datetime"]::-webkit-input-placeholder,
  input[type="datetime-local"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  input[type="month"]::-webkit-input-placeholder,
  input[type="time"]::-webkit-input-placeholder,
  input[type="week"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="color"]::-webkit-input-placeholder {
    color: #999; }
  .form-control::-ms-expand, select::-ms-expand,
  textarea::-ms-expand,
  input[type="text"]::-ms-expand,
  input[type="password"]::-ms-expand,
  input[type="datetime"]::-ms-expand,
  input[type="datetime-local"]::-ms-expand,
  input[type="date"]::-ms-expand,
  input[type="month"]::-ms-expand,
  input[type="time"]::-ms-expand,
  input[type="week"]::-ms-expand,
  input[type="number"]::-ms-expand,
  input[type="email"]::-ms-expand,
  input[type="url"]::-ms-expand,
  input[type="search"]::-ms-expand,
  input[type="tel"]::-ms-expand,
  input[type="color"]::-ms-expand {
    border: 0;
    background-color: transparent; }
  .form-control[disabled], select[disabled],
  textarea[disabled],
  input[disabled][type="text"],
  input[disabled][type="password"],
  input[disabled][type="datetime"],
  input[disabled][type="datetime-local"],
  input[disabled][type="date"],
  input[disabled][type="month"],
  input[disabled][type="time"],
  input[disabled][type="week"],
  input[disabled][type="number"],
  input[disabled][type="email"],
  input[disabled][type="url"],
  input[disabled][type="search"],
  input[disabled][type="tel"],
  input[disabled][type="color"], .form-control[readonly], select[readonly],
  textarea[readonly],
  input[readonly][type="text"],
  input[readonly][type="password"],
  input[readonly][type="datetime"],
  input[readonly][type="datetime-local"],
  input[readonly][type="date"],
  input[readonly][type="month"],
  input[readonly][type="time"],
  input[readonly][type="week"],
  input[readonly][type="number"],
  input[readonly][type="email"],
  input[readonly][type="url"],
  input[readonly][type="search"],
  input[readonly][type="tel"],
  input[readonly][type="color"], fieldset[disabled] .form-control, fieldset[disabled] select,
  fieldset[disabled] textarea,
  fieldset[disabled] input[type="text"],
  fieldset[disabled] input[type="password"],
  fieldset[disabled] input[type="datetime"],
  fieldset[disabled] input[type="datetime-local"],
  fieldset[disabled] input[type="date"],
  fieldset[disabled] input[type="month"],
  fieldset[disabled] input[type="time"],
  fieldset[disabled] input[type="week"],
  fieldset[disabled] input[type="number"],
  fieldset[disabled] input[type="email"],
  fieldset[disabled] input[type="url"],
  fieldset[disabled] input[type="search"],
  fieldset[disabled] input[type="tel"],
  fieldset[disabled] input[type="color"] {
    background-color: #eeeeee;
    opacity: 1; }
  .form-control[disabled], select[disabled],
  textarea[disabled],
  input[disabled][type="text"],
  input[disabled][type="password"],
  input[disabled][type="datetime"],
  input[disabled][type="datetime-local"],
  input[disabled][type="date"],
  input[disabled][type="month"],
  input[disabled][type="time"],
  input[disabled][type="week"],
  input[disabled][type="number"],
  input[disabled][type="email"],
  input[disabled][type="url"],
  input[disabled][type="search"],
  input[disabled][type="tel"],
  input[disabled][type="color"], fieldset[disabled] .form-control, fieldset[disabled] select,
  fieldset[disabled] textarea,
  fieldset[disabled] input[type="text"],
  fieldset[disabled] input[type="password"],
  fieldset[disabled] input[type="datetime"],
  fieldset[disabled] input[type="datetime-local"],
  fieldset[disabled] input[type="date"],
  fieldset[disabled] input[type="month"],
  fieldset[disabled] input[type="time"],
  fieldset[disabled] input[type="week"],
  fieldset[disabled] input[type="number"],
  fieldset[disabled] input[type="email"],
  fieldset[disabled] input[type="url"],
  fieldset[disabled] input[type="search"],
  fieldset[disabled] input[type="tel"],
  fieldset[disabled] input[type="color"] {
    cursor: not-allowed; }

textarea.form-control,
textarea {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="date"],
  input[type="time"].form-control,
  input[type="time"],
  input[type="datetime-local"].form-control,
  input[type="datetime-local"],
  input[type="month"].form-control,
  input[type="month"] {
    line-height: 34px; }
  input[type="date"].input-sm, .input-group-sm input[type="date"],
  input[type="time"].input-sm, .input-group-sm
  input[type="time"],
  input[type="datetime-local"].input-sm, .input-group-sm
  input[type="datetime-local"],
  input[type="month"].input-sm, .input-group-sm
  input[type="month"] {
    line-height: 30px; }
  input[type="date"].input-lg, .input-group-lg input[type="date"],
  input[type="time"].input-lg, .input-group-lg
  input[type="time"],
  input[type="datetime-local"].input-lg, .input-group-lg
  input[type="datetime-local"],
  input[type="month"].input-lg, .input-group-lg
  input[type="month"] {
    line-height: 46px; } }
.form-group {
  margin-bottom: 15px; }

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }
  .radio label,
  .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; }

input[type="radio"][disabled], input[type="radio"].disabled, fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled],
input[type="checkbox"].disabled, fieldset[disabled]
input[type="checkbox"] {
  cursor: not-allowed; }

.radio-inline.disabled, fieldset[disabled] .radio-inline,
.checkbox-inline.disabled, fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed; }

.radio.disabled label, fieldset[disabled] .radio label,
.checkbox.disabled label, fieldset[disabled]
.checkbox label {
  cursor: not-allowed; }

.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 35px; }
  .form-control-static.input-lg, .form-control-static.input-sm {
    padding-left: 0;
    padding-right: 0; }

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

select.input-sm {
  height: 30px;
  line-height: 30px; }

textarea.input-sm,
select[multiple].input-sm {
  height: auto; }

.form-group-sm .form-control, .form-group-sm select,
.form-group-sm textarea,
.form-group-sm input[type="text"],
.form-group-sm input[type="password"],
.form-group-sm input[type="datetime"],
.form-group-sm input[type="datetime-local"],
.form-group-sm input[type="date"],
.form-group-sm input[type="month"],
.form-group-sm input[type="time"],
.form-group-sm input[type="week"],
.form-group-sm input[type="number"],
.form-group-sm input[type="email"],
.form-group-sm input[type="url"],
.form-group-sm input[type="search"],
.form-group-sm input[type="tel"],
.form-group-sm input[type="color"] {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }
.form-group-sm select.form-control, .form-group-sm select {
  height: 30px;
  line-height: 30px; }
.form-group-sm textarea.form-control,
.form-group-sm textarea,
.form-group-sm select[multiple].form-control,
.form-group-sm select[multiple] {
  height: auto; }
.form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5; }

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 0; }

select.input-lg {
  height: 46px;
  line-height: 46px; }

textarea.input-lg,
select[multiple].input-lg {
  height: auto; }

.form-group-lg .form-control, .form-group-lg select,
.form-group-lg textarea,
.form-group-lg input[type="text"],
.form-group-lg input[type="password"],
.form-group-lg input[type="datetime"],
.form-group-lg input[type="datetime-local"],
.form-group-lg input[type="date"],
.form-group-lg input[type="month"],
.form-group-lg input[type="time"],
.form-group-lg input[type="week"],
.form-group-lg input[type="number"],
.form-group-lg input[type="email"],
.form-group-lg input[type="url"],
.form-group-lg input[type="search"],
.form-group-lg input[type="tel"],
.form-group-lg input[type="color"] {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 0; }
.form-group-lg select.form-control, .form-group-lg select {
  height: 46px;
  line-height: 46px; }
.form-group-lg textarea.form-control,
.form-group-lg textarea,
.form-group-lg select[multiple].form-control,
.form-group-lg select[multiple] {
  height: auto; }
.form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.33333; }

.has-feedback {
  position: relative; }
  .has-feedback .form-control, .has-feedback select,
  .has-feedback textarea,
  .has-feedback input[type="text"],
  .has-feedback input[type="password"],
  .has-feedback input[type="datetime"],
  .has-feedback input[type="datetime-local"],
  .has-feedback input[type="date"],
  .has-feedback input[type="month"],
  .has-feedback input[type="time"],
  .has-feedback input[type="week"],
  .has-feedback input[type="number"],
  .has-feedback input[type="email"],
  .has-feedback input[type="url"],
  .has-feedback input[type="search"],
  .has-feedback input[type="tel"],
  .has-feedback input[type="color"] {
    padding-right: 42.5px; }

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none; }

.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback,
.form-group-lg select + .form-control-feedback,
.form-group-lg textarea + .form-control-feedback,
.form-group-lg input[type="text"] + .form-control-feedback,
.form-group-lg input[type="password"] + .form-control-feedback,
.form-group-lg input[type="datetime"] + .form-control-feedback,
.form-group-lg input[type="datetime-local"] + .form-control-feedback,
.form-group-lg input[type="date"] + .form-control-feedback,
.form-group-lg input[type="month"] + .form-control-feedback,
.form-group-lg input[type="time"] + .form-control-feedback,
.form-group-lg input[type="week"] + .form-control-feedback,
.form-group-lg input[type="number"] + .form-control-feedback,
.form-group-lg input[type="email"] + .form-control-feedback,
.form-group-lg input[type="url"] + .form-control-feedback,
.form-group-lg input[type="search"] + .form-control-feedback,
.form-group-lg input[type="tel"] + .form-control-feedback,
.form-group-lg input[type="color"] + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px; }

.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback,
.form-group-sm select + .form-control-feedback,
.form-group-sm textarea + .form-control-feedback,
.form-group-sm input[type="text"] + .form-control-feedback,
.form-group-sm input[type="password"] + .form-control-feedback,
.form-group-sm input[type="datetime"] + .form-control-feedback,
.form-group-sm input[type="datetime-local"] + .form-control-feedback,
.form-group-sm input[type="date"] + .form-control-feedback,
.form-group-sm input[type="month"] + .form-control-feedback,
.form-group-sm input[type="time"] + .form-control-feedback,
.form-group-sm input[type="week"] + .form-control-feedback,
.form-group-sm input[type="number"] + .form-control-feedback,
.form-group-sm input[type="email"] + .form-control-feedback,
.form-group-sm input[type="url"] + .form-control-feedback,
.form-group-sm input[type="search"] + .form-control-feedback,
.form-group-sm input[type="tel"] + .form-control-feedback,
.form-group-sm input[type="color"] + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px; }

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
  color: #3c763d; }
.has-success .form-control, .has-success select,
.has-success textarea,
.has-success input[type="text"],
.has-success input[type="password"],
.has-success input[type="datetime"],
.has-success input[type="datetime-local"],
.has-success input[type="date"],
.has-success input[type="month"],
.has-success input[type="time"],
.has-success input[type="week"],
.has-success input[type="number"],
.has-success input[type="email"],
.has-success input[type="url"],
.has-success input[type="search"],
.has-success input[type="tel"],
.has-success input[type="color"] {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-success .form-control:focus, .has-success select:focus,
  .has-success textarea:focus,
  .has-success input[type="text"]:focus,
  .has-success input[type="password"]:focus,
  .has-success input[type="datetime"]:focus,
  .has-success input[type="datetime-local"]:focus,
  .has-success input[type="date"]:focus,
  .has-success input[type="month"]:focus,
  .has-success input[type="time"]:focus,
  .has-success input[type="week"]:focus,
  .has-success input[type="number"]:focus,
  .has-success input[type="email"]:focus,
  .has-success input[type="url"]:focus,
  .has-success input[type="search"]:focus,
  .has-success input[type="tel"]:focus,
  .has-success input[type="color"]:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168; }
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8; }
.has-success .form-control-feedback {
  color: #3c763d; }

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label {
  color: #8a6d3b; }
.has-warning .form-control, .has-warning select,
.has-warning textarea,
.has-warning input[type="text"],
.has-warning input[type="password"],
.has-warning input[type="datetime"],
.has-warning input[type="datetime-local"],
.has-warning input[type="date"],
.has-warning input[type="month"],
.has-warning input[type="time"],
.has-warning input[type="week"],
.has-warning input[type="number"],
.has-warning input[type="email"],
.has-warning input[type="url"],
.has-warning input[type="search"],
.has-warning input[type="tel"],
.has-warning input[type="color"] {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-warning .form-control:focus, .has-warning select:focus,
  .has-warning textarea:focus,
  .has-warning input[type="text"]:focus,
  .has-warning input[type="password"]:focus,
  .has-warning input[type="datetime"]:focus,
  .has-warning input[type="datetime-local"]:focus,
  .has-warning input[type="date"]:focus,
  .has-warning input[type="month"]:focus,
  .has-warning input[type="time"]:focus,
  .has-warning input[type="week"]:focus,
  .has-warning input[type="number"]:focus,
  .has-warning input[type="email"]:focus,
  .has-warning input[type="url"]:focus,
  .has-warning input[type="search"]:focus,
  .has-warning input[type="tel"]:focus,
  .has-warning input[type="color"]:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b; }
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3; }
.has-warning .form-control-feedback {
  color: #8a6d3b; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #a94442; }
.has-error .form-control, .has-error select,
.has-error textarea,
.has-error input[type="text"],
.has-error input[type="password"],
.has-error input[type="datetime"],
.has-error input[type="datetime-local"],
.has-error input[type="date"],
.has-error input[type="month"],
.has-error input[type="time"],
.has-error input[type="week"],
.has-error input[type="number"],
.has-error input[type="email"],
.has-error input[type="url"],
.has-error input[type="search"],
.has-error input[type="tel"],
.has-error input[type="color"] {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-error .form-control:focus, .has-error select:focus,
  .has-error textarea:focus,
  .has-error input[type="text"]:focus,
  .has-error input[type="password"]:focus,
  .has-error input[type="datetime"]:focus,
  .has-error input[type="datetime-local"]:focus,
  .has-error input[type="date"]:focus,
  .has-error input[type="month"]:focus,
  .has-error input[type="time"]:focus,
  .has-error input[type="week"]:focus,
  .has-error input[type="number"]:focus,
  .has-error input[type="email"]:focus,
  .has-error input[type="url"]:focus,
  .has-error input[type="search"]:focus,
  .has-error input[type="tel"]:focus,
  .has-error input[type="color"]:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede; }
.has-error .form-control-feedback {
  color: #a94442; }

.has-feedback label ~ .form-control-feedback {
  top: 25px; }
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a6a6a6; }

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }
  .form-inline .form-control, .form-inline select,
  .form-inline textarea,
  .form-inline input[type="text"],
  .form-inline input[type="password"],
  .form-inline input[type="datetime"],
  .form-inline input[type="datetime-local"],
  .form-inline input[type="date"],
  .form-inline input[type="month"],
  .form-inline input[type="time"],
  .form-inline input[type="week"],
  .form-inline input[type="number"],
  .form-inline input[type="email"],
  .form-inline input[type="url"],
  .form-inline input[type="search"],
  .form-inline input[type="tel"],
  .form-inline input[type="color"] {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
  .form-inline .form-control-static {
    display: inline-block; }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle; }
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control,
    .form-inline .input-group select,
    .form-inline .input-group textarea,
    .form-inline .input-group input[type="text"],
    .form-inline .input-group input[type="password"],
    .form-inline .input-group input[type="datetime"],
    .form-inline .input-group input[type="datetime-local"],
    .form-inline .input-group input[type="date"],
    .form-inline .input-group input[type="month"],
    .form-inline .input-group input[type="time"],
    .form-inline .input-group input[type="week"],
    .form-inline .input-group input[type="number"],
    .form-inline .input-group input[type="email"],
    .form-inline .input-group input[type="url"],
    .form-inline .input-group input[type="search"],
    .form-inline .input-group input[type="tel"],
    .form-inline .input-group input[type="color"] {
      width: auto; }
  .form-inline .input-group > .form-control, .form-inline .input-group > select,
  .form-inline .input-group > textarea,
  .form-inline .input-group > input[type="text"],
  .form-inline .input-group > input[type="password"],
  .form-inline .input-group > input[type="datetime"],
  .form-inline .input-group > input[type="datetime-local"],
  .form-inline .input-group > input[type="date"],
  .form-inline .input-group > input[type="month"],
  .form-inline .input-group > input[type="time"],
  .form-inline .input-group > input[type="week"],
  .form-inline .input-group > input[type="number"],
  .form-inline .input-group > input[type="email"],
  .form-inline .input-group > input[type="url"],
  .form-inline .input-group > input[type="search"],
  .form-inline .input-group > input[type="tel"],
  .form-inline .input-group > input[type="color"] {
    width: 100%; }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle; }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }
    .form-inline .radio label,
    .form-inline .checkbox label {
      padding-left: 0; }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }
  .form-inline .has-feedback .form-control-feedback {
    top: 0; } }

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px; }
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px; }
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px; }
  .form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table; }
  .form-horizontal .form-group:after {
    clear: both; }
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px; } }
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px; }
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px; } }
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px; } }

select:hover, select:focus,
textarea:hover,
textarea:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="time"]:hover,
input[type="time"]:focus,
input[type="week"]:hover,
input[type="week"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="color"]:hover,
input[type="color"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

select.input-sm,
textarea.input-sm,
input[type="text"].input-sm,
input[type="password"].input-sm,
input[type="datetime"].input-sm,
input[type="datetime-local"].input-sm,
input[type="date"].input-sm,
input[type="month"].input-sm,
input[type="time"].input-sm,
input[type="week"].input-sm,
input[type="number"].input-sm,
input[type="email"].input-sm,
input[type="url"].input-sm,
input[type="search"].input-sm,
input[type="tel"].input-sm,
input[type="color"].input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

textarea.input-sm,
select[multiple].input-sm {
  height: auto; }

select.input-lg,
textarea.input-lg,
input[type="text"].input-lg,
input[type="password"].input-lg,
input[type="datetime"].input-lg,
input[type="datetime-local"].input-lg,
input[type="date"].input-lg,
input[type="month"].input-lg,
input[type="time"].input-lg,
input[type="week"].input-lg,
input[type="number"].input-lg,
input[type="email"].input-lg,
input[type="url"].input-lg,
input[type="search"].input-lg,
input[type="tel"].input-lg,
input[type="color"].input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 0; }

textarea.input-lg,
select[multiple].input-lg {
  height: auto; }

.sidebar {
  background-color: transparent;
  color: #666666;
  border: 1px solid #C3C3C3;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  padding: 5px 0 5px 0; }
  .sidebar .sidebar-nav {
    border: none;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0;
    padding: 0; }
    .sidebar .sidebar-nav > li > a {
      background-color: transparent;
      color: #666666;
      border: none;
      -webkit-border-radius: 0 0 0 0;
      -moz-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      margin: 0;
      padding: 6px 15px 6px 15px; }
      .sidebar .sidebar-nav > li > a:hover, .sidebar .sidebar-nav > li > a:focus {
        background-color: #e6e6e6;
        color: #F7741F;
        border: none; }
    .sidebar .sidebar-nav > .active > a {
      background-color: #e6e6e6;
      color: #F7741F;
      border: none; }
      .sidebar .sidebar-nav > .active > a:hover, .sidebar .sidebar-nav > .active > a:focus {
        background-color: #e6e6e6;
        color: #F7741F;
        border: none; }

.sidebar-affix.affix {
  top: 15px; }
.sidebar-affix.affix-bottom {
  position: absolute; }

.sidebar .sidebar-header {
  padding: 0 15px;
  margin: 10px 0; }
.sidebar .sidebar-nav > li > a {
  font-size: 18px; }

.pagination-primary > li > a,
.pagination-primary > li > span {
  background-color: #336666;
  color: #fff;
  border-color: #336666; }
  .pagination-primary > li > a:hover, .pagination-primary > li > a:focus,
  .pagination-primary > li > span:hover,
  .pagination-primary > li > span:focus {
    color: #fff;
    background-color: #254b4b;
    border-color: #254b4b; }
.pagination-primary > .active > a, .pagination-primary > .active > a:hover, .pagination-primary > .active > a:focus,
.pagination-primary > .active > span,
.pagination-primary > .active > span:hover,
.pagination-primary > .active > span:focus {
  color: #fff;
  background-color: #254b4b;
  border-color: #254b4b; }
.pagination-primary > .disabled > a, .pagination-primary > .disabled > a:hover, .pagination-primary > .disabled > a:focus,
.pagination-primary > .disabled > span,
.pagination-primary > .disabled > span:hover,
.pagination-primary > .disabled > span:focus {
  color: #1f3d3d;
  background-color: #336666;
  border-color: #336666; }

.pagination-success > li > a,
.pagination-success > li > span {
  background-color: #86BC42;
  color: #fff;
  border-color: #86BC42; }
  .pagination-success > li > a:hover, .pagination-success > li > a:focus,
  .pagination-success > li > span:hover,
  .pagination-success > li > span:focus {
    color: #fff;
    background-color: #709e37;
    border-color: #709e37; }
.pagination-success > .active > a, .pagination-success > .active > a:hover, .pagination-success > .active > a:focus,
.pagination-success > .active > span,
.pagination-success > .active > span:hover,
.pagination-success > .active > span:focus {
  color: #fff;
  background-color: #709e37;
  border-color: #709e37; }
.pagination-success > .disabled > a, .pagination-success > .disabled > a:hover, .pagination-success > .disabled > a:focus,
.pagination-success > .disabled > span,
.pagination-success > .disabled > span:hover,
.pagination-success > .disabled > span:focus {
  color: #668f32;
  background-color: #86BC42;
  border-color: #86BC42; }

.pagination-info > li > a,
.pagination-info > li > span {
  background-color: #00CCFF;
  color: #fff;
  border-color: #00CCFF; }
  .pagination-info > li > a:hover, .pagination-info > li > a:focus,
  .pagination-info > li > span:hover,
  .pagination-info > li > span:focus {
    color: #fff;
    background-color: #00abd6;
    border-color: #00abd6; }
.pagination-info > .active > a, .pagination-info > .active > a:hover, .pagination-info > .active > a:focus,
.pagination-info > .active > span,
.pagination-info > .active > span:hover,
.pagination-info > .active > span:focus {
  color: #fff;
  background-color: #00abd6;
  border-color: #00abd6; }
.pagination-info > .disabled > a, .pagination-info > .disabled > a:hover, .pagination-info > .disabled > a:focus,
.pagination-info > .disabled > span,
.pagination-info > .disabled > span:hover,
.pagination-info > .disabled > span:focus {
  color: #009bc2;
  background-color: #00CCFF;
  border-color: #00CCFF; }

.pagination-warning > li > a,
.pagination-warning > li > span {
  background-color: #F7741F;
  color: #fff;
  border-color: #F7741F; }
  .pagination-warning > li > a:hover, .pagination-warning > li > a:focus,
  .pagination-warning > li > span:hover,
  .pagination-warning > li > span:focus {
    color: #fff;
    background-color: #e55f08;
    border-color: #e55f08; }
.pagination-warning > .active > a, .pagination-warning > .active > a:hover, .pagination-warning > .active > a:focus,
.pagination-warning > .active > span,
.pagination-warning > .active > span:hover,
.pagination-warning > .active > span:focus {
  color: #fff;
  background-color: #e55f08;
  border-color: #e55f08; }
.pagination-warning > .disabled > a, .pagination-warning > .disabled > a:hover, .pagination-warning > .disabled > a:focus,
.pagination-warning > .disabled > span,
.pagination-warning > .disabled > span:hover,
.pagination-warning > .disabled > span:focus {
  color: #d15707;
  background-color: #F7741F;
  border-color: #F7741F; }

.pagination-danger > li > a,
.pagination-danger > li > span {
  background-color: #f43f1f;
  color: #fff;
  border-color: #f43f1f; }
  .pagination-danger > li > a:hover, .pagination-danger > li > a:focus,
  .pagination-danger > li > span:hover,
  .pagination-danger > li > span:focus {
    color: #fff;
    background-color: #df2b0b;
    border-color: #df2b0b; }
.pagination-danger > .active > a, .pagination-danger > .active > a:hover, .pagination-danger > .active > a:focus,
.pagination-danger > .active > span,
.pagination-danger > .active > span:hover,
.pagination-danger > .active > span:focus {
  color: #fff;
  background-color: #df2b0b;
  border-color: #df2b0b; }
.pagination-danger > .disabled > a, .pagination-danger > .disabled > a:hover, .pagination-danger > .disabled > a:focus,
.pagination-danger > .disabled > span,
.pagination-danger > .disabled > span:hover,
.pagination-danger > .disabled > span:focus {
  color: #cc270a;
  background-color: #f43f1f;
  border-color: #f43f1f; }

footer {
  background-color: #336666;
  color: #fff; }
  footer a {
    color: #fff; }
    footer a:hover, footer a:focus {
      color: #fff; }
  footer .useful-links {
    display: table;
    width: 100%;
    table-layout: fixed; }
    footer .useful-links .social-links {
      display: table-cell;
      vertical-align: middle;
      width: 50%; }
      footer .useful-links .social-links > ul {
        margin: 0;
        padding: 0; }
        footer .useful-links .social-links > ul:before, footer .useful-links .social-links > ul:after {
          content: " ";
          display: table; }
        footer .useful-links .social-links > ul:after {
          clear: both; }
        footer .useful-links .social-links > ul > li {
          list-style: none;
          display: block;
          float: left; }
          footer .useful-links .social-links > ul > li > a {
            font-size: 24px;
            padding: 5px; }
            footer .useful-links .social-links > ul > li > a:hover, footer .useful-links .social-links > ul > li > a:focus {
              opacity: .7; }
    footer .useful-links .brand {
      display: table-cell;
      vertical-align: middle;
      width: 50%; }
      footer .useful-links .brand img {
        max-width: 200px; }
  footer .brand {
    text-align: center;
    margin: 15px 0;
    display: block; }
    footer .brand > img {
      width: 250px; }
  footer .footer-inner {
    padding: 60px 0 60px 0; }
  footer nav[role="navigation"] > .nav-footer {
    padding: 0;
    margin: 0; }
    footer nav[role="navigation"] > .nav-footer > li > a {
      background-color: transparent;
      color: #FFF;
      border: none;
      padding: 4px 0 4px 0; }
      footer nav[role="navigation"] > .nav-footer > li > a:hover, footer nav[role="navigation"] > .nav-footer > li > a:focus {
        background-color: transparent;
        color: #FFF;
        border: none;
        opacity: .7; }
  footer .copyright {
    background-color: #254b4b;
    color: #fff;
    padding: 15px 0 15px 0; }

.link-box {
  display: block;
  color: #666666;
  margin-bottom: 15px; }
  .link-box .link-box-inner {
    display: table;
    height: 100%;
    table-layout: fixed;
    width: 100%;
    margin: 0; }
    @media (max-width: 767px) {
      .link-box .link-box-inner {
        display: none; } }
    .link-box .link-box-inner .link-box-icon {
      text-align: center;
      width: 33.333%;
      display: table-cell;
      table-layout: fixed;
      vertical-align: middle;
      float: none; }
      .link-box .link-box-inner .link-box-icon > img {
        width: 75%; }
    .link-box .link-box-inner .link-box-text {
      display: table-cell;
      table-layout: fixed;
      vertical-align: middle;
      float: none; }
  .link-box .link-box-btn {
    background-color: #F7741F;
    color: #FFF;
    padding: 5px;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
    font-size: 130%;
    font-weight: bold; }
    @media (max-width: 767px) {
      .link-box .link-box-btn {
        padding: 20px;
        font-size: 150%;
        text-align: center; } }
  .link-box:hover, .link-box:focus {
    color: #525252;
    text-decoration: none; }
    .link-box:hover .link-box-btn, .link-box:focus .link-box-btn {
      background-color: #f46509; }

.link-box-spec {
  display: block;
  margin-bottom: 15px; }
  @media (min-width: 767px) {
    .link-box-spec {
      text-align: center;
      color: #666666; }
      .link-box-spec:hover, .link-box-spec:focus {
        color: #525252;
        text-decoration: none; }
      .link-box-spec .link-box-icon {
        display: inline-block;
        background-color: #F7741F;
        width: 90px;
        height: 90px;
        padding: 15px;
        text-align: center;
        border-radius: 50em; }
        .link-box-spec .link-box-icon > img {
          width: 60px;
          height: 60px; }
      .link-box-spec .link-box-divider {
        border-bottom: 3px solid #86BC42;
        min-width: 1px;
        margin: 10px auto;
        width: 50px; }
      .link-box-spec .link-box-text {
        font-size: 22px;
        line-height: 1.2em; } }
  @media (max-width: 767px) {
    .link-box-spec {
      background-color: #86BC42;
      display: table;
      height: 100%;
      table-layout: fixed;
      width: 100%;
      margin: 0 0 15px;
      font-size: 22px;
      line-height: 1.2em;
      color: #fff; }
      .link-box-spec:hover, .link-box-spec:focus {
        background-color: #709e37;
        color: #fff;
        text-decoration: none; }
      .link-box-spec .link-box-icon {
        width: 80px;
        padding: 15px;
        display: table-cell;
        table-layout: fixed;
        vertical-align: middle;
        float: none; }
        .link-box-spec .link-box-icon > img {
          width: 80%; }
      .link-box-spec .link-box-text {
        display: table-cell;
        table-layout: fixed;
        vertical-align: middle;
        float: none; }
      .link-box-spec .link-box-divider {
        display: none; } }

.news-item {
  padding: 30px 0; }
  .news-item:first-child {
    padding-top: 0; }
  .news-item + .news-item {
    border-top: 1px solid #e9e9e9; }
  .news-item .news-item-inner {
    padding: 0 15px; }

.posted-with-cover:before, .posted-with-cover:after {
  content: " ";
  display: table; }
.posted-with-cover:after {
  clear: both; }
@media (min-width: 1200px) {
  .posted-with-cover > img {
    width: 25%;
    float: left; }
  .posted-with-cover .news-item-inner {
    width: 75%;
    float: left; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .posted-with-cover > img {
    width: 33.333%;
    float: left; }
  .posted-with-cover .news-item-inner {
    width: 66.666%;
    float: left; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .posted-with-cover > img {
    width: 33.333%;
    float: left; }
  .posted-with-cover .news-item-inner {
    width: 66.666%;
    float: left; } }

.posted-info {
  padding-left: 0;
  list-style: none;
  margin: 15px 0; }
  .posted-info > li {
    list-style: none;
    font-style: italic;
    font-size: 12px; }
    .posted-info > li + li:before {
      font-size: 12px;
      line-height: 12px;
      margin-right: 13px;
      content: '/'; }

.posted-title {
  margin: 0 0 15px; }
  .posted-title > a {
    color: #666666; }
    .posted-title > a:hover, .posted-title > a:focus {
      color: #F7741F; }

.posted-summary {
  margin: 0; }

.month-list .month-box {
  margin-bottom: 15px; }
  .month-list .month-box .month-box-header {
    border: 1px solid #C3C3C3;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
    .month-list .month-box .month-box-header .month-title {
      margin: 0;
      padding: 10px 15px;
      text-transform: uppercase;
      display: block; }
    .month-list .month-box .month-box-header .month-event-count {
      float: right;
      font-size: 12px;
      vertical-align: middle;
      display: inline-block;
      line-height: 22px; }
  .month-list .month-box .month-box-body .month-box-event-list .event {
    position: relative; }
    .month-list .month-box .month-box-body .month-box-event-list .event:before, .month-list .month-box .month-box-body .month-box-event-list .event:after {
      content: " ";
      display: table; }
    .month-list .month-box .month-box-body .month-box-event-list .event:after {
      clear: both; }
    .month-list .month-box .month-box-body .month-box-event-list .event + .event {
      border-top: 1px solid #DEDEDE; }
    .month-list .month-box .month-box-body .month-box-event-list .event .event-header {
      left: 15px;
      text-align: center;
      position: absolute;
      padding: 15px 0;
      width: 70px; }
      .month-list .month-box .month-box-body .month-box-event-list .event .event-header span {
        display: block;
        text-transform: uppercase;
        font-size: 36px;
        line-height: 43px; }
    .month-list .month-box .month-box-body .month-box-event-list .event .event-body {
      padding: 15px 15px 15px 85px; }
      .month-list .month-box .month-box-body .month-box-event-list .event .event-body .event-title {
        font-size: 16px;
        text-transform: uppercase;
        color: #666666; }
        .month-list .month-box .month-box-body .month-box-event-list .event .event-body .event-title:hover, .month-list .month-box .month-box-body .month-box-event-list .event .event-body .event-title:focus {
          color: #F7741F; }
    .month-list .month-box .month-box-body .month-box-event-list .event .event-label {
      position: absolute;
      right: 0;
      padding: 3px 5px;
      color: #FFF;
      font-size: 8px;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      -webkit-border-radius: 0 0 0 0;
      -moz-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
    .month-list .month-box .month-box-body .month-box-event-list .event .event-read-more {
      font-size: 12px;
      text-transform: uppercase;
      padding: 5px 0 0; }
    .month-list .month-box .month-box-body .month-box-event-list .event .event-content {
      margin: 15px 0; }

.gallery-list .photoset {
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #C3C3C3;
  display: block;
  color: #666666;
  text-decoration: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .gallery-list .photoset .photoset-cover {
    position: relative;
    padding: 10px; }
    .gallery-list .photoset .photoset-cover > img {
      width: 100%;
      -webkit-border-radius: 0 0 0 0;
      -moz-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
    .gallery-list .photoset .photoset-cover .photo-count {
      position: absolute;
      background-color: #F7741F;
      top: 5px;
      right: 5px;
      display: inline-block;
      color: #FFF;
      font-size: 10px;
      text-transform: uppercase;
      padding: 4px 8px;
      -webkit-border-radius: 0 0 0 0;
      -moz-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
  .gallery-list .photoset .photo-content {
    padding: 10px;
    height: 80px; }
    .gallery-list .photoset .photo-content .photo-title {
      text-align: center;
      text-transform: uppercase;
      margin: 0; }

.photo-list:before, .photo-list:after {
  content: " ";
  display: table; }
.photo-list:after {
  clear: both; }
.photo-list .photo {
  width: 25%;
  display: block;
  float: left; }
  .photo-list .photo > img {
    width: 100%;
    height: 180px;
    object-fit: cover; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .photo-list .photo {
      width: 33.333%; }
      .photo-list .photo > img {
        height: 140px; } }
  @media (max-width: 767px) {
    .photo-list .photo {
      width: 50%; }
      .photo-list .photo > img {
        height: 180px; } }

.student-list .student {
  border: 1px solid #DEDEDE;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .student-list .student .student-header {
    padding: 10px; }
    .student-list .student .student-header .student-photo {
      width: 100%;
      position: relative; }
      .student-list .student .student-header .student-photo > img {
        width: 100%;
        object-fit: cover;
        -webkit-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; }
      .student-list .student .student-header .student-photo .student-position {
        position: absolute;
        right: 0;
        top: 0;
        padding: 4px 10px; }
        .student-list .student .student-header .student-photo .student-position .label-position {
          background-color: #F7741F;
          font-size: 10px;
          text-transform: uppercase; }
  .student-list .student .student-body {
    padding: 0 10px 10px;
    height: 75px;
    text-align: center; }
    .student-list .student .student-body .student-name {
      margin-top: 0;
      text-transform: uppercase; }
    .student-list .student .student-body > p {
      font-size: 12px;
      text-transform: uppercase; }

.approved-widget .widget-body {
  border: 1px solid #F7741F;
  padding: 15px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .approved-widget .widget-body .student {
    position: relative; }
    .approved-widget .widget-body .student .student-photo > img {
      width: 100%;
      -webkit-border-radius: 0 0 0 0;
      -moz-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
    .approved-widget .widget-body .student .student-info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; }
      .approved-widget .widget-body .student .student-info .student-info-wrap {
        margin: 15px 30px;
        background-color: fade(#F7741F, 65%);
        padding: 10px;
        color: #FFF;
        -webkit-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        text-align: center; }
      .approved-widget .widget-body .student .student-info .student-name {
        text-transform: uppercase;
        margin-top: 0;
        font-size: 12px; }
  .approved-widget .widget-body .owl-carousel {
    padding: 0 60px; }
  .approved-widget .widget-body .owl-nav > div {
    background-color: transparent;
    bottom: 0;
    color: #F7741F;
    font-size: 20px;
    left: 0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 0;
    width: 60px; }
    .approved-widget .widget-body .owl-nav > div.disabled {
      opacity: .5; }
    .approved-widget .widget-body .owl-nav > div.owl-prev {
      background-repeat: repeat-x;
      left: 0;
      right: auto; }
    .approved-widget .widget-body .owl-nav > div.owl-next {
      background-repeat: repeat-x;
      left: auto;
      right: 0; }
    .approved-widget .widget-body .owl-nav > div .icon {
      left: 50%;
      margin-left: -25px;
      display: inline-block;
      font-size: 50px;
      height: 50px;
      margin-top: -25px;
      position: absolute;
      top: 50%;
      width: 50px;
      z-index: 5; }
  .approved-widget .widget-body .owl-nav.disabled {
    display: block; }

/*# sourceMappingURL=website.css.map */
