{% extends 'page.html' %}

{% load i18n blog staticfiles %}

{% block title-page %} - Notícias{% endblock %}

{% block body-class %}blog{% endblock %}

{% block page-header %}
    <h1>
        Notícias
        {% if category %}<small> - {{ category }}</small>{% endif %}
    </h1>
{% endblock %}

{% block page-content %}

    <div class="entries">

    {% for entry in entries %}
        <div class="entry">

            <div class="filter"></div>

            <a href="{{ entry.get_absolute_url }}" title="{% trans "Continue reading" %}"></a>

            <div class="entry-header">

                <div class="img-background bg-center bg-cover"
                     style="background-image: url('{% if entry.cover %}{{ entry.cover.url }}{% else %}{% static 'img/default_entry.png' %}{% endif %}');"></div>

            </div>

            <div class="entry-body">

                <div class="filter"></div>

                <div class="info">

                    <div class="text">
                        <time class="date" datetime="{{ entry.creation_date|date:"c"}}">
                            <i class="fa fa-calendar"></i>
                            <span class="day">{{ entry.creation_date|date:'SHORT_DATE_FORMAT'}}</span>
                        </time>
                    </div>

                </div>

                <div class="title"><h2>{{ entry.title }}</h2></div>

                <div class="resume">{{ entry.html_preview|safe }}</div>

                <div class="read-more">Leia +</div>

            </div>

        </div>
    {% empty %}
        <div class="entry empty">
            <p>Nenhum artigo cadastrado.</p>
        </div>
    {% endfor %}

    </div>

    {% if is_paginated %}
    <nav class="text-center">

        <ul class="pagination pagination-primary">
            {% pagination page_obj %}
        </ul>

    </nav>
    {% endif %}

{% endblock %}