{% extends 'page.html' %}

{% load blog staticfiles %}

{% block title-page %} - Notícias{% endblock %}

{% block body-class %}blog{% endblock %}

{% block page-header %}
    <h1> Notícias </h1>
{% endblock %}

{% block link %}{{ block.super }}
    {% with entry_url=entry.get_absolute_url %}
        <link rel="canonical" href="{% absolute_uri entry_url %}" />
    {% endwith %}
{% endblock %}

{% block page-content %}

    {% block breadcrumbs %}
    <div class="breadcrumbs breadcrumbs-light">
        <ol class="breadcrumb">
            <li><a class="link" href="{% url 'blog:index' %}">Notícias</a></li>
            <li class="active">{{ entry.title }}</li>
        </ol>
    </div>
    {% endblock breadcrumbs %}

    <article class="entry article">

        <div class="entry-header">

            <div class="img-background bg-cover bg-center"
                 style="background-image: url('{% if entry.cover %}{{ entry.cover.url }}{% else %}{% static 'img/default_entry.png' %}{% endif %}');">
            </div>

            <div class="info">
                <time class="smaller-80" datetime="{{ entry.creation_date|date:"c" }}">
                    {{ entry.creation_date|date:"DATE_FORMAT" }}
                </time>

                <h2 class="entry-title">{{ entry.title }}</h2>
            </div>

        </div>

        <div class="entry-body">

            <div class="entry-content">

                {{ entry.content|safe }}

            </div>

        </div>

    </article>

{% endblock %}