{% load share %}
<li>{% get_facebook_button object.get_absolute_url template='share/tags/button.html' %}</li>
<li>{% get_gplus_button object.get_absolute_url template='share/tags/button.html' %}</li>
<li>{% get_twitter_button object.get_absolute_url text=twitter_text template='share/tags/button.html' %}</li>