{% load i18n %}

<li class="{% if page_obj.number == 1 %}disabled{% endif %}">
    {% if page_obj.number != 1 %}<a href="?page=1">{% else %}<span>{% endif %}
    <i class="fa fa-angle-double-left"></i>
    {% if page_obj.number != 1 %}</a>{% else %}</span>{% endif %}
</li>

<li class="{% if not page_obj.has_previous %}disabled{% endif %}">
    <a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>
        <i class="fa fa-angle-left"></i>
    </a>
</li>

<li>
    <span>
        {% blocktrans with number=page_obj.number num_pages=page_obj.paginator.num_pages %}Page {{ number }} of {{ num_pages }}{% endblocktrans %}
    </span>
</li>

<li class="{% if not page_obj.has_next %}disabled{% endif %}">
    <a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>
        <i class="fa fa-angle-right"></i>
    </a>
</li>

<li class="{% if page_obj.number == page_obj.paginator.num_pages %}disabled{% endif %}">
    {% if page_obj.number != page_obj.paginator.num_pages %}<a href="?page={{ page_obj.paginator.num_pages }}">{% else %}<span>{% endif %}
    <i class="fa fa-angle-double-right"></i>
    {% if page_obj.number != page_obj.paginator.num_pages %}</a>{% else %}</span>{% endif %}
</li>