{% extends 'page.html' %}

{% load i18n calendar %}

{% block body-class %}{{ block.super }} calendar{% endblock %}

{% block page-header %}
    <h1> Agenda </h1>
{%  endblock %}

{% block page-content %}
    <section class="calendar event_detail">

        <div class="breadcrumbs">
            <ul class="breadcrumb breadcrumb-light">
                <li><a href="{% calendar_url 'index' %}">Eventos</a></li>

                {% if month.get_absolute_url %}
                    <li><a class="month-title" href="{{ month.get_absolute_url }}"> {{ event.start|date:'F' }} de {{ event.start|date:'Y' }} </a></li>
                {% endif %}

                <li><span>{{ event.title }}</span></li>
            </ul>
        </div>

        <div class="calendar-container">
            <div class="event-container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                        <div class="event-date-featured">
                            <span class="date"> {{ event.start|date:"d" }} </span>
                            <span class="month"> {{ event.start|date:"M" }} </span>
                            <span class="year"> {{ event.start|date:"Y" }} </span>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11">
                        {% if event.category %}
                            <div class="event-category">{{ event.category|default:"-" }}</div>
                        {% endif %}
                        <div class="event-social-links">
                            <a href="#" class="item facebook"> <i class="fa fa-fw fa-facebook"></i> </a>
                            <a href="#" class="item google-plus"> <i class="fa fa-fw fa-google-plus"></i> </a>
                            <a href="#" class="item twitter"> <i class="fa fa-fw fa-twitter"></i> </a>
                        </div>
                        <a class="event-title" href="{{ event.get_absolute_url }} " title="{{ event.title }}">{{ event.title }}</a>
                        <div class="event-data"><i class="fa fa-calendar"></i> {{ event.start|date:"d/m/Y"|default:"-" }} {% if event.end %}- {{ event.end|date:"d/m/Y"|default:"-" }} {% endif %}</div>
                        {% if event.start_time %}
                            <div class="event-time"><i class="fa fa-clock-o"></i> {{ event.start_time|date:"H:i"|default:"-" }} {% if event.end %}- {{ event.end_time|date:"H:i" }} {% endif %}</div>
                        {% endif %}
                        {% if event.description %}
                            <div class="event-description"><i class="fa fa-comment-o"></i> {{ event.description|default:"-" }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <a class="back btn" href="{% calendar_url 'index' %}"><i class="fa fa-arrow-left"></i> Voltar para a agenda anual</a>

    </section>

{% endblock %}