{% extends 'page-sidebar-left.html' %}

{% load i18n calendar %}

{% block body-class %}{{ block.super }} calendar{% endblock %}

{% block page-header %}
    <h1> Agenda </h1>
{%  endblock %}

{% block sidebar %}
    <div class="calendar-nav sidebar sidebar-primary">
        <ul class="nav nav-list">
            {% get_months as months %}

            {% with current_month=month %}
                {% for month in months %}
                    <li class="{% if month.date == current_month.date %}active{% endif %}{% if month.date < current_month.date %} disable{% endif %}">
                        <a class="item" href="{{ month.get_absolute_url }}">
                            <span> {{ month.name }} </span>
                        </a>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
    </div>
{% endblock %}

{% block page-content %}
    <div class="calendar event_list">

        <div class="calendar-container">

            <div class="month-container month-{{ month|date:'b' }}" id="event-list-{{ month|date:'b' }}">

                <a class="month-title" href="{{ month.get_absolute_url }}">{{ month|date:'F' }}</a>

                <span class="number-events"> {{ month.count_events }} eventos </span>

                {% for event in events %}
                    <div class="event-container">
                        <div class="row">
                            <div class="col-xs-3 col-sm-2">
                                <div class="event-date-featured">
                                    <span class="date"> {{ event.start|date:"d" }} </span>
                                    <span class="month"> {{ event.start|date:"M" }} </span>
                                    <span class="year"> {{ event.start|date:"Y" }} </span>
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-10">
                                {% if event.category %}
                                    <div class="event-category">{{ event.category|default:"-" }}</div>
                                {% endif %}
                                <div class="event-social-links">
                                    <a href="#" class="item facebook"> <i class="fa fa-fw fa-facebook"></i> </a>
                                    <a href="#" class="item google-plus"> <i class="fa fa-fw fa-google-plus"></i> </a>
                                    <a href="#" class="item twitter"> <i class="fa fa-fw fa-twitter"></i> </a>
                                </div>
                                <a class="event-title" href="{{ event.get_absolute_url }} " title="{{ event.title }}">{{ event.title }}</a>
                                <div class="event-data"><i class="fa fa-calendar"></i> {{ event.start|date:"d/m/Y"|default:"-" }} {% if event.end %}- {{ event.end|date:"d/m/Y"|default:"-" }} {% endif %}</div>
                                {% if event.start_time %}
                                    <div class="event-time"><i class="fa fa-clock-o"></i> {{ event.start_time|date:"H:i"|default:"-" }} {% if event.end %}- {{ event.end_time|date:"H:i" }} {% endif %}</div>
                                {% endif %}
                                {% if event.description %}
                                    <div class="event-description"><i class="fa fa-comment-o"></i> {{ event.description|safe|default:"-" }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div>Ainda não há eventos cadastrados este ano.</div>
                {% endfor %}
            </div>

        </div>

    </div>
{% endblock %}