{% extends 'page.html' %}

{% block body-class %}{{ block.super }} forbidden{% endblock %}
{% block title-page %} - Forbidden{% endblock %}
{% block meta-description %}Você não pode acessar essa página...{% endblock %}
{% block meta-keywords %}403, forbidden{% endblock %}

{% block page-title %}
    <h1>
        <span class="bigger-125">403</span>
        Forbidden
    </h1>
{% endblock %}

{% block page-content %}
    <p class="text">
        Você não pode acessar essa página... <i class="fa fa-frown-o "></i><br/>
        Mas há muitas outras que estão disponíveis para você!
    </p>

    <p class="text">
        Porque não aproveita que está por aqui e navega pelo resto do site? <br/>
        Volte para a página inicial clicando <a href="{% url 'pages:home' %}"> aqui</a>!
    </p>
{% endblock %}