{% extends 'page.html' %}

{% block body-class %} page-not-found{% endblock %}
{% block title-page %} - Página não encontrada{% endblock %}
{% block meta-description %}Não foi possível encontrar a página requisitada...{% endblock %}
{% block meta-keywords %}404, page-not-found, página-não-encontrada{% endblock %}


{% block page-title %}
<h1>
    <span class="bigger-125">404</span>
    Página não encontrada
</h1>
{% endblock %}

{% block page-content %}
    <p class="text">
        Não foi possível encontrar a página requisitada... <i class="fa fa-frown-o "></i><br/>
        Mas há muitas outras que estão disponíveis para você!
    </p>

    <p class="text">
        Porque não aproveita que está por aqui e navega pelo resto do site? <br/>
        Volte para a página inicial clicando <a href="{% url 'pages:home' %}"> aqui</a>!
    </p>
{% endblock %}