{% extends 'page.html' %}

{% block body-class %} internal-error{% endblock %}
{% block title-page %} - Erro Interno no Servidor{% endblock %}
{% block meta-description %}Infelizmente aconteceu algo que não prevíamos...{% endblock %}
{% block meta-keywords %}500, internal-server-error, erro-no-servidor{% endblock %}

{% block page-title %}
    <h1>
        <span class="bigger-125">500</span>
        Erro interno no servidor
    </h1>
{% endblock %}

{% block page-content %}
    <p class="text">
        Infelizmente aconteceu algo que não prevíamos... <i class="fa fa-frown-o "></i><br/>
        Mas calma, nem tudo está perdido!
    </p>

    <p class="text">
        Porque não aproveita que está por aqui e navega pelo resto do site? <br/>
        Volte para a página inicial clicando <a href="{% url 'pages:home' %}"> aqui</a>!
    </p>
{% endblock %}