{% extends 'skeleton.html' %}

{% load static mediafiles navigation %}

{% block title-page %}{% if page_title %} - {{ page_title }}{% endif %}{% endblock %}
{% block meta-description-page %}{{ meta_description|default:'' }}{% endblock %}
{% block meta-keywords %}{{ meta_keywords|default:'' }}{% endblock %}

{% block meta %}{{ block.super }}{{ page_meta.as_html }}{% endblock %}
{% block link %}{{ block.super }}{{ page_links.as_html }}{% endblock %}
{% block extrastyles %}{{ block.super }}{% media_css media %}{% endblock %}
{% block extrascript %}{{ block.super }}{% media_js media %}{% endblock %}

{% block body %}
    <div id="main-container">

        {% block header %}
            <header>

                {% block navbar %}
                    <nav class="navbar flat-menu">

                        <div class="container">

                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">

                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                    <span class="sr-only">Alternar Navegação</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <a href="{% url 'pages:home' %}" class="navbar-brand text-white">{{ company.name }}</a>

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navbar-collapse">

                                {% block navbar.main-nav %}
                                    <ul class="nav navbar-nav navbar-right">

                                        {% get_navigation namespace='main' template='nav-main.html' %}

                                    </ul><!-- /.nav -->
                                {% endblock navbar.main-nav %}

                            </div><!-- /.navbar-collapse -->

                        </div><!-- /.container-fluid -->

                    </nav><!-- /.navbar -->
                {% endblock navbar %}

            </header>
        {% endblock %}

        <main id="main-content" class="main-content">

            {% block content %}{% endblock content %}

        </main>

        {% block footer %}
            <footer>

                <div class="footer-content section-50">

                    <div class="container">

                        <div class="row">

                            <!-- brand -->
                            <div class="col-xs-12 col-sm-4">

                                <h3>{{ company.name }}</h3>

                                <p>Suspendisse placerat rutrum consectetur. Duis faucibus vulputate libero, vel fringilla lacus ullamcorper vitae. Nunc augue sem, varius vitae rutrum sed, pretium ut nunc. Donec pharetra velit lectus, commodo pretium dui molestie et.</p>


                            </div>

                            <!-- navigation -->
                            <div class="col-xs-12 col-sm-4">

                                <h4 class="header lighter">Navegue um pouco mais</h4>

                                <nav class="nav-footer" role="navigation">

                                    <ul class="nav nav-list">

                                        {% get_navigation namespace='footer' template='nav-footer.html' %}

                                    </ul>

                                </nav>

                            </div>

                            <!-- extra content -->
                            <div class="col-xs-12 col-sm-4">

                                <h4 class="header lighter"> Visite-nos </h4>

                                {% if company.default_address %}
                                    <p>
                                        <i class="fa fa-map-marker"></i>
                                        {{ company.default_address.to_html }}
                                    </p>
                                {% endif %}

                                {% if company.emails %}
                                    <p>
                                        <i class="fa fa-envelope"></i>
                                        {% for email in company.emails %}
                                            <a href="mailto:{{ email }}">{{ email }}</a> {% if not forloop.last %}<br />{% endif %}
                                        {% endfor %}
                                    </p>
                                {% endif %}

                                {% if company.default_phone %}
                                    <p>
                                        <i class="fa fa-phone"></i> {{ company.default_phone }}
                                    </p>
                                {% endif %}

                            </div>

                        </div>

                    </div>

                </div>

                <div class="copyright">

                    <div class="container">

                        <span>Desenvolvido por: <a href="http://systembrasil.com.br/" title="System Brasil" target="_blank">System Brasil</a></span>

                    </div>

                </div>

            </footer>
        {% endblock %}

        {% block back-to-top %}
            <div data-offset-top="200" data-spy="affix" class="scroll-to-top hidden-xs">

                <a href="#"
                   data-spy="slideScroll"
                   data-offset-top="0"
                   data-speed="500">
                    <i class="fa fa-arrow-up"></i>
                </a>

            </div>
        {% endblock %}

    </div>
{% endblock %}