{% load navigation %}

{% for child in children %}
<li class="{% if child.is_selected %}active{% endif %}">
    <a href="{{ child.url }}" title="{{ child.title }}"> {{ child.title }} <b class="arrow fa fa-angle-double-right"></b></a>
</li>
{% endfor %}