{% extends 'base.html' %}

{% block body-class %}{{ block.super }} page{% if page %} page-{{ page.name }}{% endif %}{% endblock %}

{% block meta %}{{ block.super }}{% if title %}
    <meta property="og:title" content="{{ title }}" />
    <meta name="twitter:title" content="{{ title }}" />{% endif %}{% if description %}
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:description" content="{{ description }}" />{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    {% block page-title %}{% if title %}<div class="page-header"><h1>{{ title }}</h1></div>{% endif %}{% endblock %}
    {% block before-content %}{% endblock %}
    <div class="page-content">
        {% block page-content %}{% endblock %}
    </div>
    {% block after-content %}{% endblock %}
</div>
{% endblock %}