{% extends 'page.html' %}

{% block body-class %}{{ block.super }} page-sidebar-left{% endblock %}

{% block content %}
<div class="container">
    {% block page-header %}{% if title %}<div class="page-header"><h1>{{ title }}</h1></div>{% endif %}{% endblock %}
    {% block before-content %}{% endblock %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">
                {% block sidebar %}{% endblock %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                {% block page-content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block after-content %}{% endblock %}
</div>
{% endblock %}