<!DOCTYPE html>
{% load static mediafiles company analytics %}
{% get_company as company %}

<html lang="{{ LANGUAGE_CODE }}">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ company.name|default:'Empty Website' }}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>

    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}{% endblock meta-keywords %}" />
    <meta name="author" content="System Brasil" />
    {% block meta %}{% endblock meta %}
    <!-- .meta -->

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    {% block link %}{% endblock link %}
    <!-- .links -->

    {% media_css 'global' %}

    {% block extrastyles %}{% endblock %}
    <!-- .styles -->

</head>

<body {% block body-attrs %}{% endblock %}class="{% block body-class %}{% endblock %}">

    {% block body %}{% endblock body %}

    <!--[if lt IE 9]>
    <script src="{% static 'js/html5.min.js' %}" async></script>
    <script src="{% static 'js/respond.min.js' %}" async></script>
    <![endif]-->

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extrascript %}{% endblock %}

    {% media_js 'global' %}
    <!-- /.block js -->

    {% google_analytics %}

</body>

</html>