<ul class="social social-list">
{% for link in links %}
    <li>
        {% if link.type == 'text' %}
        <a href="{{ link.url }}" class="{{ link.type }}" title="{{ link.get_type_display }}" target="_blank">
            {{ link.text|safe }}
        </a>
        {% else %}
        <a href="{{ link.url }}" class="{{ link.type }}" title="{{ link.get_type_display }}" target="_blank">
            <span class="icon-{{ link.type }}"></span>
        </a>
        {% endif %}
    </li>
{% endfor %}
</ul>