{% extends 'skeleton.html' %}

{% load static location %}

{% block body-class %}maintenance-page{% endblock %}

{% block extrascript %}{{ block.super }}

    {% import_map_scripts %}

    <script type="text/javascript" src="{% static 'js/parallax.min.js' %}"></script>
    <script type="text/javascript">var parallax = new Parallax(document.getElementById('scene'));</script>


{% endblock %}

{% block body %}
<main>

    <section class="section section-40 overflow-hidden no-padding-top">

        <div class="container">

            <div class="row">

                <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 hidden-xs">

                    <ul id="scene" class="scene">
                        <li class="layer" data-depth="0.2"><img class="img-responsive" src="{% static 'img/under_maintenance/10b.png' %}"></li>
                        <li class="layer" data-depth="0.4"><img class="img-responsive" src="{% static 'img/under_maintenance/10a.png' %}"></li>
                        <li class="layer" data-depth="0.1"><img class="img-responsive" src="{% static 'img/under_maintenance/9b.png' %}"></li>
                        <li class="layer" data-depth="0.3"><img class="img-responsive" src="{% static 'img/under_maintenance/9a.png' %}"></li>
                        <li class="layer" data-depth="0.5"><img class="img-responsive" src="{% static 'img/under_maintenance/8b.png' %}"></li>
                        <li class="layer" data-depth="0.6"><img class="img-responsive" src="{% static 'img/under_maintenance/8a.png' %}"></li>
                        <li class="layer" data-depth="0.3"><img class="img-responsive" src="{% static 'img/under_maintenance/7b.png' %}"></li>
                        <li class="layer" data-depth="0.3"><img class="img-responsive" src="{% static 'img/under_maintenance/7a.png' %}"></li>
                        <li class="layer" data-depth="-0.3"><img class="img-responsive" src="{% static 'img/under_maintenance/6b.png' %}"></li>
                        <li class="layer" data-depth="-0.3"><img class="img-responsive" src="{% static 'img/under_maintenance/6a.png' %}"></li>
                        <li class="layer" data-depth="-0.4"><img class="img-responsive" src="{% static 'img/under_maintenance/5b.png' %}"></li>
                        <li class="layer" data-depth="-0.6"><img class="img-responsive" src="{% static 'img/under_maintenance/5a.png' %}"></li>
                        <li class="layer" data-depth="0.4"><img class="img-responsive" src="{% static 'img/under_maintenance/4b.png' %}"></li>
                        <li class="layer" data-depth="0.6"><img class="img-responsive" src="{% static 'img/under_maintenance/4a.png' %}"></li>
                        <li class="layer" data-depth="-0.3"><img class="img-responsive" src="{% static 'img/under_maintenance/3b.png' %}"></li>
                        <li class="layer" data-depth="-0.5"><img class="img-responsive" src="{% static 'img/under_maintenance/3a.png' %}"></li>
                        <li class="layer" data-depth="0.2"><img class="img-responsive" src="{% static 'img/under_maintenance/2b.png' %}"></li>
                        <li class="layer" data-depth="0.4"><img class="img-responsive" src="{% static 'img/under_maintenance/2a.png' %}"></li>
                        <li class="layer" data-depth="0"><img class="img-responsive" src="{% static 'img/under_maintenance/1b.png' %}"></li>
                        <li class="layer" data-depth="0"><img class="img-responsive" src="{% static 'img/under_maintenance/1a.png' %}"></li>

                        {% if company.brand %}
                        <li class="layer" data-depth="0">
                            <div class="brand-layer">
                                <div class="brand">
                                    <img src="{{ company.brand.url }}" />
                                </div>
                            </div>
                        </li>
                        {% endif %}

                    </ul>

                    <div class="space-70 visible-xs"></div>

                </div>

                <div class="col-xs-12 col-sm-5 col-sm-offset-0">

                    <div class="space-30 visible-xs"></div>

                    <h1>Estamos em manutenção</h1>

                    <div class="bigger-130">
                        <p>Renovar é sempre bom, por isso estamos repensando nosso site para que ele fique melhor!</p>
                        <p>Apesar disso, nossa escola está sempre aberta! Você pode mandar uma mensagem pra gente, mandar um recado nas nossas redes sociais ou mesmo fazer uma visita!</p>

                        {% if company.emails %}
                            <p>
                                <i class="fa fa-envelope"></i>
                                {% for email in company.emails %}
                                    <a href="mailto:{{ email }}">{{ email }}</a> {% if not forloop.last %}<br />{% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}

                        {% if company.default_phone %}
                            <p>
                                <i class="fa fa-phone"></i> {{ company.default_phone }}
                            </p>
                        {% endif %}

                        <ul class="list-unstyled list-inline">
                            {% if company.facebook %}
                                <li><a href="{{ company.facebook.url }}" class="btn btn-facebook {{ company.facebook.type }}" title="{{ company.facebook.get_type_display }}" target="_blank"><i class="icon fa fa-facebook"></i></a></li>
                            {% endif %}

                            {% if company.gplus %}
                                <li><a href="{{ company.gplus.url }}" class="btn btn-social {{ company.gplus.type }}" title="{{ company.gplus.get_type_display }}" target="_blank"><i class="icon fa fa-google-plus"></i></a></li>
                            {% endif %}

                            {% if company.twitter %}
                                <li><a href="{{ company.twitter.url }}" class="btn btn-social {{ company.twitter.type }}" title="{{ company.twitter.get_type_display }}" target="_blank"><i class="icon fa fa-twitter"></i></a></li>
                            {% endif %}

                            {% if company.flickr %}
                                <li><a href="{{ company.flickr.url }}" class="btn btn-social {{ company.flickr.type }}" title="{{ company.flickr.get_type_display }}" target="_blank"><i class="icon fa fa-flickr"></i></a></li>
                            {% endif %}

                            {% if company.linked_in %}
                                <li><a href="{{ company.linked_in.url }}" class="btn btn-social {{ company.linked_in.type }}" title="{{ company.linked_in.get_type_display }}" target="_blank"><i class="icon fa fa-linkedin"></i></a></li>
                            {% endif %}
                        </ul>


                        <p>Desculpe-nos o inconveniente!</p>

                    </div>

                </div>

            </div>

        </div>

    </section>

    {% if company.default_address %}
    <section class="position-relative">

        <div class="address">
            <h4 class="header text-uppercase"><i class="fa fa-map-marker"></i> Endereço</h4>

            <p class="bigger-120">
                {{ company.default_address.to_html }}
            </p>
        </div>

        {% if company.default_address %}
            {% create_map_with_many_markers company.address_list height=550 %}
        {% endif %}

    </section>
    {% endif %}

</main>

<footer class="no-padding no-margin">

    <div class="copyright">

        <div class="container text-center">

            <span>Desenvolvido por <a href="http://systembrasil.com.br/" target="_blank" title="System Brasil">System Brasil</a></span>

        </div>

    </div>

</footer>
{% endblock %}