//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:          #336666;
$brand-success:          #86BC42;
$brand-info:             #00CCFF;
$brand-warning:          #F7741F;
$brand-danger:           #f43f1f;

//== Border radius

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            #666666;

//** Global textual link color.
$link-color:            $brand-info;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Muli', sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base:          15px;

$headings-font-weight:    normal;

//== Navbar
//
//##

// Basics of a navbar

$navbar-height:                     50px;
$navbar-margin-bottom:              0;
$navbar-border-radius:              0;

//== Forms
//
//##

//** Border color for inputs on focus

$input-border-focus:             $brand-warning;
$input-border-radius:            0;
$input-border-radius-large:      0;

//== Btn Border Radius
//
// ##

$btn-border-radius-base:         0;
$btn-border-radius-large:        0;
$btn-border-radius-small:        0;