{% extends 'page.html' %}

{% load banner_tags %}

{% block page-header %}{% endblock %}

{% block page-content %}

    {% get_banner_slider template_name="pages/tags/slider.html" %}

    <div class="section section-30">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

                <div class="panel">

                    <div class="panel-body text-center">

                        <i class="fa fa-dashboard fa-5x fa-fw"></i>

                        <div class="content">

                            <p>Suspendisse placerat rutrum consectetur. Duis faucibus vulputate libero.</p>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

                <div class="panel">

                    <div class="panel-body text-center">

                        <i class="fa fa-home fa-5x fa-fw"></i>

                        <div class="content">

                            <p>Donec pharetra velit lectus, commodo pretium dui molestie et.</p>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

                <div class="panel">

                    <div class="panel-body text-center">

                        <i class="fa fa-newspaper-o fa-5x fa-fw"></i>

                        <div class="content">

                            <p>Donec eu est malesuada, condimentum leo vel, pretium tortor. Proin mattis ex eu pulvinar consectetur.</p>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

                <div class="panel">

                    <div class="panel-body text-center">

                        <i class="fa fa-file-text-o fa-5x fa-fw"></i>

                        <div class="content">

                            <p>In hac habitasse platea dictumst. Sed tristique bibendum tortor, ut venenatis mi rhoncus eu.</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}